<template>
    <QuestionPaper v-if="showQuestion"/>
    <div class="evaluationQuestionnaire " v-else>
        <div class="bg-white">
            <div class="top">
                <p class="title">ارزیابی درخواست ویزا</p>
                <p class="description mb-0">از این طریق شما از میزان شانس خود برای اخذ ویزا، قبل از هر اقدامی آگاه
                    خواهید شد.</p>
            </div>

            <div class="bottom row">
                <div class="right col-md-8">
                    <p class="title">نکات مهم!</p>
                    <p class="description">
                        ارزیابی میزان موفقیت پرونده شما برای درخواست ویزا، توسط کارشناس ارشد مورد بررسی و تحلیل قرار
                        می‌گیرد
                        و در نهایت مناسب ترین پاسخ برای پرونده شما طراحی می‌گردد.
                    </p>
                    <p class="description">
                        متقاضی محترم! دقت شما در پاسخ به تمامی سوالات این ارزیابی سبب می‌شود مناسب‌ترین روش برای تشکیل
                        پرونده و شروع فرآیند درخواست ویزای شما اتخاذ گردد.
                        لذا همکاری شما برای تشکیل پرونده‌ای موفق، در خصوص ویزای مورد نظر، بسیار اهمیت دارد.
                    </p>


                    <button class="btn" @click="goToQuestionPaper()">
                        شروع ارزیابی
                        <img src="../../../../../../public/images/arrowRight.png">
                    </button>

                </div>

                <div class="left col-md-3 offset-md-1 d-none d-md-flex">
                    <img src="../../../../../../public/images/assessment4.jpg" class="img-fluid shadow img-thumbnail">
                </div>

            </div>

            <div class="wave d-flex"></div>

        </div>
    </div>

</template>

<script setup>
import {ref} from "vue";

import QuestionPaper from './QuestionPaper.vue';

let showQuestion = ref(false);

function goToQuestionPaper() {
    showQuestion.value = true;
}

</script>

<style scoped>

</style>
