<template>
    <div v-if="loadingPage">
        <div class=" spinner-grow text-dark" id="loadingPage" role="status">
        </div>
    </div>
    <div class="questionPaper row" v-else>
        <div class="border rounded bg-white p-0">
            <form @submit.prevent="">

                <ul class="nav nav-tabs container-fluid ms-1 d-flex flex-nowrap border-bottom"
                    v-if="categoriesLength > 0">
                    <li class="nav-item" v-for="(item,index) in categories.value" :key="index">

                        <a :href="'#tab' + item.id" class="nav-link"
                           :class="{ active: activeTab === index, disabled: item.disabled ,'inactive-tab': activeTab >= index, 'd-none d-md-flex': activeTab !== index }"
                           :disabled="activeTab.value !== index ? 'true' : 'false'"
                           data-bs-toggle="tab">
                            <label v-if="item.priority>1" class="progressNav me-3">------------------</label>

                            <i v-if="item.priority === 1 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path
                                        d="M12 6C13.1 6 14 6.9 14 8C14 9.1 13.1 10 12 10C10.9 10 10 9.1 10 8C10 6.9 10.9 6 12 6ZM12 16C14.7 16 17.8 17.29 18 18H6C6.23 17.28 9.31 16 12 16ZM12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM12 14C9.33 14 4 15.34 4 18V20H20V18C20 15.34 14.67 14 12 14Z"
                                        fill="#757575"/>
                                </svg>
                            </i>
                            <i v-if="item.priority === 2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path
                                        d="M4 16.5C5.10457 16.5 6 15.6046 6 14.5C6 13.3954 5.10457 12.5 4 12.5C2.89543 12.5 2 13.3954 2 14.5C2 15.6046 2.89543 16.5 4 16.5Z"
                                        fill="#757575"/>
                                    <path
                                        d="M1.22 18.08C0.48 18.4 0 19.12 0 19.93V21.5H4.5V19.89C4.5 19.06 4.73 18.28 5.13 17.6C4.76 17.54 4.39 17.5 4 17.5C3.01 17.5 2.07 17.71 1.22 18.08Z"
                                        fill="#757575"/>
                                    <path
                                        d="M20 16.5C21.1046 16.5 22 15.6046 22 14.5C22 13.3954 21.1046 12.5 20 12.5C18.8954 12.5 18 13.3954 18 14.5C18 15.6046 18.8954 16.5 20 16.5Z"
                                        fill="#757575"/>
                                    <path
                                        d="M22.78 18.08C21.93 17.71 20.99 17.5 20 17.5C19.61 17.5 19.24 17.54 18.87 17.6C19.27 18.28 19.5 19.06 19.5 19.89V21.5H24V19.93C24 19.12 23.52 18.4 22.78 18.08Z"
                                        fill="#757575"/>
                                    <path
                                        d="M16.24 17.15C15.07 16.63 13.63 16.25 12 16.25C10.37 16.25 8.93 16.64 7.76 17.15C6.68 17.63 6 18.71 6 19.89V21.5H18V19.89C18 18.71 17.32 17.63 16.24 17.15ZM8.07 19.5C8.16 19.27 8.34 19.08 8.56 18.98C9.66 18.49 10.82 18.25 11.99 18.25C13.17 18.25 14.32 18.5 15.42 18.98C15.65 19.08 15.82 19.27 15.91 19.5H8.07Z"
                                        fill="#757575"/>
                                    <path
                                        d="M9 12.5C9 14.16 10.34 15.5 12 15.5C13.66 15.5 15 14.16 15 12.5C15 10.84 13.66 9.5 12 9.5C10.34 9.5 9 10.84 9 12.5ZM13 12.5C13 13.05 12.55 13.5 12 13.5C11.45 13.5 11 13.05 11 12.5C11 11.95 11.45 11.5 12 11.5C12.55 11.5 13 11.95 13 12.5Z"
                                        fill="#757575"/>
                                    <path
                                        d="M2.48 11.36C2.17 10.6 2 9.86 2 9.1C2 6.52 4.02 4.5 6.6 4.5C9.28 4.5 10.42 6.24 12 8.09C13.57 6.26 14.7 4.5 17.4 4.5C19.98 4.5 22 6.52 22 9.1C22 9.86 21.83 10.6 21.52 11.36C22.17 11.67 22.7 12.18 23.05 12.8C23.65 11.6 24 10.38 24 9.1C24 5.4 21.1 2.5 17.4 2.5C15.31 2.5 13.31 3.47 12 5.01C10.69 3.47 8.69 2.5 6.6 2.5C2.9 2.5 0 5.4 0 9.1C0 10.38 0.35 11.6 0.96 12.8C1.31 12.18 1.84 11.67 2.48 11.36Z"
                                        fill="#757575"/>
                                </svg>
                            </i>
                            <i v-if="item.priority === 3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path
                                        d="M18 4H6C3.79 4 2 5.79 2 8V16C2 18.21 3.79 20 6 20H18C20.21 20 22 18.21 22 16V8C22 5.79 20.21 4 18 4ZM16.14 13.77C15.9 13.97 15.57 14.05 15.26 13.97L4.15 11.25C4.45 10.52 5.16 10 6 10H18C18.67 10 19.26 10.34 19.63 10.84L16.14 13.77ZM6 6H18C19.1 6 20 6.9 20 8V8.55C19.41 8.21 18.73 8 18 8H6C5.27 8 4.59 8.21 4 8.55V8C4 6.9 4.9 6 6 6Z"
                                        fill="#757575"/>
                                </svg>
                            </i>
                            <i v-if="item.priority === 4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path
                                        d="M12 22C10.6167 22 9.31667 21.7373 8.1 21.212C6.88333 20.6867 5.825 19.9743 4.925 19.075C4.025 18.175 3.31267 17.1167 2.788 15.9C2.26333 14.6833 2.00067 13.3833 2 12C2 10.6167 2.26267 9.31667 2.788 8.1C3.31333 6.88333 4.02567 5.825 4.925 4.925C5.825 4.025 6.88333 3.31267 8.1 2.788C9.31667 2.26333 10.6167 2.00067 12 2C14.4333 2 16.5627 2.76267 18.388 4.288C20.2133 5.81333 21.3507 7.72567 21.8 10.025H19.75C19.4333 8.80833 18.8623 7.72067 18.037 6.762C17.2117 5.80333 16.1993 5.08267 15 4.6V5C15 5.55 14.804 6.021 14.412 6.413C14.02 6.805 13.5493 7.00067 13 7H11V9C11 9.28333 10.904 9.521 10.712 9.713C10.52 9.905 10.2827 10.0007 10 10H8V12H10V15H9L4.2 10.2C4.15 10.5 4.104 10.8 4.062 11.1C4.02 11.4 3.99933 11.7 4 12C4 14.1833 4.76667 16.0583 6.3 17.625C7.83333 19.1917 9.73333 19.9833 12 20V22ZM21.1 21.5L17.9 18.3C17.55 18.5 17.175 18.6667 16.775 18.8C16.375 18.9333 15.95 19 15.5 19C14.25 19 13.1877 18.5623 12.313 17.687C11.4383 16.8117 11.0007 15.7493 11 14.5C11 13.25 11.4377 12.1873 12.313 11.312C13.1883 10.4367 14.2507 9.99933 15.5 10C16.75 10 17.8127 10.4377 18.688 11.313C19.5633 12.1883 20.0007 13.2507 20 14.5C20 14.95 19.9333 15.375 19.8 15.775C19.6667 16.175 19.5 16.55 19.3 16.9L22.5 20.1L21.1 21.5ZM15.5 17C16.2 17 16.7917 16.7583 17.275 16.275C17.7583 15.7917 18 15.2 18 14.5C18 13.8 17.7583 13.2083 17.275 12.725C16.7917 12.2417 16.2 12 15.5 12C14.8 12 14.2083 12.2417 13.725 12.725C13.2417 13.2083 13 13.8 13 14.5C13 15.2 13.2417 15.7917 13.725 16.275C14.2083 16.7583 14.8 17 15.5 17Z"
                                        fill="#757575"/>
                                </svg>
                            </i>
                            <i v-if="item.priority === 5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path
                                        d="M17 10.43V2H7V10.43C7 10.78 7.18 11.11 7.49 11.29L11.67 13.8L10.68 16.14L7.27 16.43L9.86 18.67L9.07 22L12 20.23L14.93 22L14.15 18.67L16.74 16.43L13.33 16.14L12.34 13.8L16.52 11.29C16.82 11.11 17 10.79 17 10.43ZM11 11.07L9 9.87V4H11V11.07ZM15 9.87L13 11.07V4H15V9.87Z"
                                        fill="#757575"/>
                                </svg>
                            </i>
                            {{ item.title }}
                        </a>
                    </li>

                </ul>
                <span class="requiredAlert p-3 my-4 d-flex justify-content-center text-danger border rounded fs-6">کاربر گرامی لطفا به تمامی سئوالات پاسخ دهید. </span>
                <div class="tab-content" v-if="categoriesLength > 0 && questionsLength > 0">
                    <div ref="tabContent" class="tab-pane" :class="{ active: activeTab === index }"
                         v-for="(item,index) in categories.value"
                         :key="item"
                         :id="'tab' + item.id"
                    >
                        <template v-for="question in questions.value[item.id]" :key="question.id">
                            <div class="question row" v-if="showQuestion(question)">
                                <p class="titleQuestion row  d-flex flex-nowrap mb-0 p-0">
                                    <span class="point" v-if="question.title !== null">.</span>
                                    <span class="pe-4">{{ question.title }}
                                    <label v-if="question.title !== null" class="text-danger ms-1">*</label>
                                    </span>
                                </p>
                                <ul class="row p-3 mx-auto ms-md-0 ">
                                    <li class="list-unstyled row col-12 col-md-4 me-0 me-md-2"
                                        :class="{'selected': (formData[question.id] === paramKey && param.type === 'radio') ||
                                         (formData[question.id + '-' + paramKey] === true && param.type === 'checkbox')}"
                                        v-for="(param , paramKey) in question.params" :key="paramKey"
                                    >

                                        <input
                                            class="radioType "
                                            v-if="param.type === 'radio'"
                                            :type="param.type"
                                            :name="question.id"
                                            :value="paramKey"
                                            :id="question.id + '-' + paramKey"
                                            v-model="formData[question.id]"
                                        />

                                        <input
                                            class="checkbox-input "
                                            v-if="param.type === 'checkbox'"
                                            :type="param.type"
                                            :name="question.id"
                                            :id="question.id + '-' + paramKey"
                                            v-model="formData[question.id + '-' + paramKey]"
                                        />

                                        <label class="col-10" :for="question.id + '-' + paramKey"
                                               :class="param.type === 'text' || param.type === 'number' || param.type === 'date'  ? 'mb-3' : 'mb-0'">
                                            {{ param.value }}
                                            <label v-if="question.title === null" class="text-danger ms-1">*</label>
                                        </label>

                                        <input
                                            class="textType form-control col-12 col-md-4"
                                            v-if="param.type === 'text' || param.type === 'number'"
                                            :type="param.type"
                                            :id="question.id + '-' + paramKey"
                                            v-model="formData[question.id + '-' + paramKey]"
                                            :placeholder="param.placeholder"
                                        />

                                        <DatePicker
                                            class="dateType"
                                            color="#00A594"
                                            view="year"
                                            auto-submit
                                            max="1402"
                                            v-if="param.type === 'date'"
                                            :id="question.id + '-' + paramKey"
                                            v-model="formData[question.id + '-' + paramKey]"
                                        />

                                        <ul v-if="showParamItems(question, param)" class="p-0">
                                            <li class="list-unstyled p-0 mt-2" v-for="(item , itemKey) in param.items"
                                                :key="itemKey">
                                                <input
                                                    class="textType form-control"
                                                    :type="item.type"
                                                    :name="question.id + '-' + paramKey + '-' + itemKey"
                                                    :placeholder="item.placeholder"
                                                    v-model="formData[question.id + '-' + paramKey + '-' + itemKey]"
                                                />
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </template>

                        <div class="row d-flex justify-content-between flex-nowrap">
                            <button type="submit" class="previous btn col-4 col-md-2 col-xl-2"
                                    @click="goToPreviousTab" :disabled="activeTab === 0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                     fill="none">
                                    <path
                                        d="M17.9599 11.3736C17.5694 10.9831 17.5694 10.3499 17.9599 9.9594C18.3504 9.56887 18.9836 9.56887 19.3741 9.9594L24.7074 15.2927C25.098 15.6833 25.098 16.3164 24.7074 16.7069L19.3741 22.0403C18.9836 22.4308 18.3504 22.4308 17.9599 22.0403C17.5694 21.6498 17.5694 21.0166 17.9599 20.6261L21.5861 16.9998H8.66699C8.11471 16.9998 7.66699 16.5521 7.66699 15.9998C7.66699 15.4476 8.11471 14.9998 8.66699 14.9998H21.5861L17.9599 11.3736Z"
                                        fill="white"/>
                                </svg>
                                قبلی
                            </button>
                            <button type="submit" class="next btn col-4 col-md-2 col-xl-2" id="nextTab"
                                    @click="goToNextTab" v-if="activeTab !== categoriesLength - 1"
                            >
                                بعدی
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                     fill="none">
                                    <path
                                        d="M14.0401 20.6264C14.4306 21.0169 14.4306 21.6501 14.0401 22.0406C13.6496 22.4311 13.0164 22.4311 12.6259 22.0406L7.29257 16.7073C6.90204 16.3167 6.90204 15.6836 7.29257 15.2931L12.6259 9.95972C13.0164 9.5692 13.6496 9.5692 14.0401 9.95972C14.4306 10.3502 14.4306 10.9834 14.0401 11.3739L10.4139 15.0002L23.333 15.0002C23.8853 15.0002 24.333 15.4479 24.333 16.0002C24.333 16.5524 23.8853 17.0002 23.333 17.0002H10.4139L14.0401 20.6264Z"
                                        fill="white"/>
                                </svg>
                            </button>
                            <button
                                type="submit"
                                class="send btn btn-primary col-7 col-md-5 col-xl-3 col-xxl-2"
                                :disabled="disableSubmitBtn" v-else
                                @click="sendToExpertAndShowReceivedMessage">
                                ارسال به کارشناس
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"-->
<!--                                     fill="none">-->
<!--                                    <path-->
<!--                                        d="M14.0401 20.6264C14.4306 21.0169 14.4306 21.6501 14.0401 22.0406C13.6496 22.4311 13.0164 22.4311 12.6259 22.0406L7.29257 16.7073C6.90204 16.3167 6.90204 15.6836 7.29257 15.2931L12.6259 9.95972C13.0164 9.5692 13.6496 9.5692 14.0401 9.95972C14.4306 10.3502 14.4306 10.9834 14.0401 11.3739L10.4139 15.0002L23.333 15.0002C23.8853 15.0002 24.333 15.4479 24.333 16.0002C24.333 16.5524 23.8853 17.0002 23.333 17.0002H10.4139L14.0401 20.6264Z"-->
<!--                                        fill="white"/>-->
<!--                                </svg>-->
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script setup>
import {onMounted, reactive, ref} from 'vue';
import router from '../../router/index.js';
import DatePicker from 'vue3-persian-datetime-picker';
import axios from 'axios';

let loadingPage = ref(true)
let questionsLength = ref(0);
let categoriesLength = ref(0);
const questions = {};
const categories = {};
const activeTab = ref(0);
const disableSubmitBtn = ref(false);
const formData = reactive({});
const date = '';

onMounted(() => {
    getCat();
    getQuestions();
})

function getCat() {
    return axios.get('assessment/categories')
        .then(response => {
            categories.value = response.data.value.categories;

            if (response.data.value.categories.length > 0) {
                categoriesLength.value = response.data.value.categories.length;
            }
            loadingPage.value = false

        }).catch((err) => {
            console.log(err);
        });
}

function getQuestions() {
    return axios.get('assessment/questions?visa_id=1')
        .then(response => {
            const data = response.data.value.questions;

            questions.value = data.reduce((groups, item) => {
                const groupKey = item.category_id;
                if (!groups[groupKey]) {
                    groups[groupKey] = [];
                }

                groups[groupKey].push(item);
                return groups;
            }, {});

            if (response.data.value.questions.length > 0) {
                questionsLength.value = response.data.value.questions.length;
            }
            loadingPage.value = false
        })
        .catch((err) => {
            console.log(err);
        });
}

function showQuestion(question) {

    if (question.parent_id === null) {
        return true;
    }

    if (formData[question.parent_id] !== question.parent_params) {
        formData[question.id] = null
    }

    return formData[question.parent_id] === question.parent_params;
}

function showParamItems(question, param) {

    if (param.type === null) {
        return true;
    }

    if (formData[question.id + '-' + param.key] === true) {
        console.log(param)
        return true;
    }

    return formData[question.id] === param.key;
}

const goToPreviousTab = () => {
    if (activeTab.value > 0) {
        activeTab.value -= 1;
        window.scrollTo({top: 0, behavior: 'smooth'});
    }
}

const goToNextTab = () => {

    if (activeTab.value < categoriesLength.value - 1) {

        activeTab.value += 1;
        window.scrollTo({top: 0, behavior: 'smooth'});
    }
}

const sendToExpertAndShowReceivedMessage = () => {

    disableSubmitBtn.value = true;
    axios.post('/assessment/store', formData, {
        headers: {
            'Content-Type': 'multipart/form-data'
        }
    })
        .then(res => {
            const hashId = res.data.value.hash_id;
            router.push({name: 'received-message', params: {hashId: hashId}});
        })
        .catch((err) => {
            console.log(err)
        })

}


</script>

<style>

</style>
