<template>
    <div class="receivedMessage container row">
        <form @submit.prevent="" class="row d-flex justify-content-center">
            <div class="message text-center">
                <p class="thank">
                    متقاضی محترم، از اعتماد شما سپاسگذاریم.
                </p>
                <img src="../../../../../../public/images/Group.png"
                     class="img img-fluid  image ">

                <p class="successful">
                    درخواست شما با موفقیت ارسال شد.
                </p>

            </div>

            <div class="messageSendingMethod  d-flex justify-content-center text-center">
                <p> نتیجه ارزیابی توسط کارشناس اصلی به زودی به واتساپ شما ارسال
                    خواهد
                    شد.</p>
                <div class="row d-flex justify-content-center align-items-center">

                    <div class="selectRadio col-md-3">
                        <p class="d-flex align-items-center mb-0">
                            <label for="whatsapp">
                                شماره واتساپ :
                                <label class="text-danger">*</label>
                            </label>
                        </p>
                    </div>

                    <div class="phoneNumber col-md-5 d-flex justify-content-center align-items-center">

                        <div class=" row input-group">
                            <input type="text" class="form-control w-50 text-center textInput p-2 my-3 my-md-0"
                                   v-model="formData['phone_number']"
                                   placeholder="شماره‌ی واتساپ خود را وارد کنید"
                                   required/>

                            <select
                                class="form-select p-2 my-3 my-md-0"
                                aria-label="Default select example"
                                v-model="formData['country_code']"
                               required>
                                <option value="98" selected>ایران</option>
                                <option value="374">ارمنستان</option>
                                <option value="971">امارات</option>
                                <option value="684">آمریکا</option>
                                <option value="90">ترکیه</option>
                                <option value="1">کانادا</option>
                                <option value="955">گرجستان</option>
                                <option value="60">مالزی</option>
                            </select>
                        </div>


                    </div>

                    <div class=" endBtn row col-12 col-md-3">
                        <button class=" btn btn-primary" type="submit" @click="answerSendMethod">ثبت و پایان
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</template>


<script setup>


import {computed, onMounted, reactive, ref} from 'vue';
import axios from 'axios';
import Swal from 'sweetalert2';
import router from "../../router/index.js";

const hashId = ref(null);

onMounted(() => {
    hashId.value = router.currentRoute.value.params.hashId;
});

const formData = reactive({
    send_by: 'whatsapp',
    hash_id: hashId
});

const answerSendMethod = computed(() => {
    axios.post('/assessment/user-call-info', formData, {
        headers: {
            'Content-Type': 'multipart/form-data'
        }
    })
        .then(response => {
            Swal.fire({
                title: 'عملیات موفقیت آمیز بود',
                text: 'فرآیند با موفقیت به پایان رسید. لطفاً تا دریافت نتایج شکیبا باشید!',
                icon: 'success',
                confirmButtonColor: '#005790',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                }
            });
        })
        .catch(error => {
            console.error(error);
            Swal.fire({
                title: 'خطا',
                text: 'لطفاً مطمئن شوید که شماره همراه خود را به همراه کد کشور صحیح وارد کرده‌اید. در صورت تأیید صحت اطلاعات، لطفاً چند دقیقه دیگر تلاش کنید.',
                icon: 'error',
                confirmButtonColor: '#005790',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                }
            });
        })

})
</script>

<style scoped>

</style>
