@import '../colors';
@import '../breakpoints';

.aboutUsBody {
    //background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;

}

@media screen and (max-width: $medium) {

    .aboutUs {
        padding: 70px 40px 0 40px;

        .title{
            font-size: 28px;
        }
        .description {
            font-size: 17px;
        }
        .items {
            flex-direction: column;

            .item {
                margin-bottom: 25px;
            }
        }
    }

    .aboutUsDescription {
        padding: 90px 25px 60px 25px !important;
    }

    .whyRyanVisaInAboutUs {
        .right {
            .item {
                display: none;
            }
        }
    }

    .experiencesRecords {
        padding: 0 50px 60px 25px;

        .title {
            font-size: 28px;
        }

        .subTitle {
            font-size: 20px;
        }

        .items {
            gap: 20px;
        }
    }

    .successfulVisasInAboutUs {
        padding: 0 40px 60px 25px;

        .successfulVisasNumber {
            .title {
                font-size: 28px;
            }

            .description {
                font-size: 18px;
                padding: 0;
            }

            .items {
                flex-direction: column;

                .item {
                    margin-bottom: 32px;
                    margin-left: 0;
                    padding: 10px;
                }
            }

        }
    }

    .commentsTravelersInAboutUs {
        padding: 60px 25px;

        .description {
            font-size: 24px;
        }

        .card {
            width: 100% !important;
        }
    }

    .newsLetterInAboutUs {
        padding: 50px 25px;
        background-image: url(../../public/images/Newsletter.png);
        margin-top: -15px;
    }

}

@media screen and (min-width: $medium) {

    .aboutUs {
        padding: 180px 120px 60px 120px;
        .title{
            font-size: 32px;
        }
        .description {
            font-size: 19px;
        }
        .items {
            flex-direction: row;
            margin-bottom: 50px;
        }
    }

    .aboutUsDescription {
        padding: 180px 0 100px 0;
    }

    .whyRyanVisaInAboutUs {
        padding: 60px 120px;

        .right {
            .item {
                display: flex;
                justify-content: start;
                flex-direction: column;
                gap: 25px;
                flex: 1 0 0;
                border-radius: 10px;
                margin-bottom: 25px;

                .icon {
                    display: flex;
                    padding: 12px;
                    align-items: flex-end;
                    gap: 10px;
                    border-radius: 50px;
                    background: $icon-background;
                    width: 72px;
                    height: 72px;
                }

                .title {
                    color: $gray-500;
                    text-align: right;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%; /* 36px */

                }
            }
        }
    }

    .experiencesRecords {
        padding: 100px 0;

        .title {
            font-size: 32px;
        }

        .subTitle {
            font-size: 24px;
        }

        .items {
            flex-wrap: nowrap;
            gap: 10px;
        }
    }

    .successfulVisasInAboutUs {
        padding: 60px 0;
        margin-bottom: 100px;

        .successfulVisasNumber {
            .title {
                font-size: 30px;
            }

            .description {
                font-size: 24px;
            }

            .item {
                margin-left: 40px;
                padding: 25px 50px;
            }
        }
    }

    .commentsTravelersInAboutUs {
        padding: 60px;

        .description {
            font-size: 28px;
        }

        .card {
            width: 31%;
        }
    }

    .newsLetterInAboutUs {
        padding: 60px 120px;
        height: 220px;
        background-image: url(../../public/images/newsLetter.jpg);
    }
}
