@import '../colors';

.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-darkBlue;

    .title {
        color: $white;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 54px */
        margin-bottom: 25px;
    }

    .description {
        color: $white;
        text-align: center;
        font-feature-settings: 'liga' off;
        font-style: normal;
        font-weight: 500;
        line-height: 200%; /* 30.6px */
        margin-bottom: 50px;
    }


}

.aboutUsDescription {

    .title {
        color: $gray-500;
        text-align: right;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 48px */
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .description {
        color: var(--neutral-700, #374151);
        text-align: justify;
        font-feature-settings: 'liga' off;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 30.6px */
    }

    .goToHome {
        background-color: $primary;
        padding: 10px;
        border-radius: 5px;
        width: auto;

        a {
            text-decoration: none;
            font-size: 18px;
            color: $white;

        }
    }
}
