@import "../colors";

.experiencesRecords {
    display: flex;


    .title {
        color: var(--neutral-700, #374151);
        text-align: right;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 48px */
    }

    .subTitle {
        color: var(--neutral-700, #374151);
        text-align: justify;
        font-feature-settings: 'liga' off;
        font-style: normal;
        font-weight: 500;
        line-height: 170%; /* 30.6px */
    }

    .items {
        display: flex;

        .item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 2px 3px 3px #3A4856;
            padding: 30px 10px;


            .title {
                color: $gray-500;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 48px */
                margin-bottom: 25px;
                text-align: center;
            }

            .description {
                color: var(--neutral-700, #374151);
                text-align: center;
                font-feature-settings: 'liga' off;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 170%; /* 30.6px */
                margin-bottom: 0;
                padding: 20px 30px;
            }
            .point {
                width: 5px;
                height: 5px;
                display: inline-block;
                border-radius: 50%;
                background: $gray-500;
                margin-left: 5px;
                margin-top: -5px;
            }
        }
    }
}
