@import '../colors';

.successfulVisasInAboutUs {

    position: relative;


    .successfulVisasNumber {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1 0 0;

        .title {
            color: $gray-500;
            text-align: start;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 54px */
            margin-bottom: 25px;
        }

        .description {
            color: $gray-500;
            text-align: start;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 100% */
            margin-bottom: 50px;
        }

        .items {
            .item {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                gap: 8px;
                flex: 1 0 0;
                align-self: stretch;
                background: rgba(255, 255, 255, 0.50);
                border: 1px solid #ccc;
                border-radius: 10px;
                box-shadow: 2px 3px 3px #3A4856;

                .number {
                    color: $gray-500;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%; /* 48px */
                }

                .title {
                    color: $gray-300;
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%; /* 27px */
                    margin-bottom: 0;
                }
            }
        }


    }


}
