@import '../colors';

.whyRyanVisaInAboutUs {

    display: flex;
    align-items: center;
    background: $bg-darkBlue;
    border-radius: 10px;


    .right {
        display: flex;
        flex-direction: column;
        justify-content: start;

        .title {
            color: #eee;
            text-align: right;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 36px */
            margin-bottom: 8px;
        }

        .reason {
            color: #eee;
            text-align: right;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 48px */
            margin-bottom: 50px;
        }

        .item {
            display: flex;
            justify-content: start;
            gap: 25px;
            flex: 1 0 0;
            border-radius: 10px;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            margin-left: 20px;
            margin-bottom: 20px;
            background: rgba(0, 165, 148, .1);
            backdrop-filter: blur(10px);


            .icon {
                display: flex;
                padding: 12px;
                align-items: center;
                gap: 10px;
                border-radius: 50px;
                background: $icon-background;
                width: 52px;
                height: 52px;
            }

            .title {
                color: $primary;
                text-align: right;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 36px */
            }
        }
    }

    .left {
        display: flex;
    }


}
