@import '../colors';

.assessmentInHome {
    display: flex;
    align-items: center;
    background: $bg-darkBlue;


    .right {

    }

    .left {
        display: flex;
        flex-direction: row;
        gap: 25px;

        .assessmentIcon {
            display: flex;
            padding: 12px;
            align-items: center;
            gap: 10px;
            border-radius: 50%;
            background: $icon-background;
            margin-left: 5px;
        }

        .title {
            color: $primary;
            text-align: right;
            font-feature-settings: 'liga' off;
            font-style: normal;
            font-weight: 700;
            line-height: 40px; /* 111.111% */


        }

        .description {
            color: $white;
            font-style: normal;
            line-height: 170%; /* 30.6px */
        }

        .moreDescription {
            color: $white;
            font-style: normal;
            line-height: 170%; /* 30.6px */
            margin-bottom: 50px;
        }

        a {
            text-decoration: none;
            width: auto;
            height: 60px;
            color: $white;
            padding: 12px 24px 12px 17px;
            align-items: center;
            gap: 12px;
            border-radius: 10px;
            background: $primary;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 36px */

        }
    }

}


