@import '../colors';

.commentsTravelers {
    display: flex;
    align-items: center;
    background: $bg-darkBlue;

    .title {
        color: #eee;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
        margin-bottom: 8px;
    }

    .description {
        color: #eee;
        font-style: normal;
        font-weight: 700;
        line-height: 170%; /* 48px */
        margin-bottom: 40px;
    }

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-wrapper {

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;

                .card {
                    width: 100%;
                    padding: 25px;
                    display: flex;
                    background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;
                    box-shadow: 5px 10px 20px 0 rgba($black, 0.05);

                    .card-body {

                        .card-title {
                            color: var(--neutral-900, #111827);
                            text-align: right;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 28px; /* 175% */
                        }


                        .country {
                            color: var(--neutral-700, #374151);
                            text-align: right;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 142.857% */
                        }

                        .card-text {
                            color: $black;
                            text-align: right;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 25px;
                        }

                    }

                }
            }
        }

        .swiper-pagination-bullet {
            padding: 5px;
            border-radius: 50%;

            text-align: center;
            line-height: 10px;
            font-size: 12px;
            color: $white;
            opacity: 1;
            background: $gray-500;
        }

        .swiper-pagination-bullet-active {
            color: $white;
            background: $primary;
        }

    }


}
