@import '../colors';

.consultationTime {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;

    .title {
        color: $gray-300;
        text-align: start;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 111.111% */
        margin-bottom: 25px;
    }

    .description {
        color: $neutral-700;
        text-align: start;
        font-style: normal;
        font-weight: 500;
        line-height: 170%; /* 30.6px */
        margin-bottom: 0;

        a{
            color: $primary;
        }
    }

    .conference {
        display: flex;
        align-items: center;



        ul {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            align-items: center;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 24px;
                border-radius: 15px;
                backdrop-filter: blur(10px);
                border: 1px solid $primary;
                background: rgba(255, 255, 255, 0.50);
                box-shadow: 5px 10px 20px 0 rgba($black, 0.05), 5px 10px 20px 4px rgba(0, 165, 148, 0.10);
                cursor: pointer;


                a {
                    display: flex;
                    align-items: center;
                    gap: 25px;
                    text-decoration: none;

                    .icon {
                        display: flex;
                        padding: 12px;
                        border-radius: 50px;
                        background: $icon-background;
                    }

                    .conferenceType {
                        color: $gray-500;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 40px; /* 166.667% */
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
