@import "../colors";

.contactFormModal {

    .modal-content {
        background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF !important;
        line-height: 200%;
        font-weight: 500;

        input {
            box-shadow: 1px 2px 2px $light-primary;
            font-size: medium;
        }


        .btn-successfull {
            background: $primary;
            color: $white;
        }
    }

}
