@import '../colors';
@import '../breakpoints';

@media screen and (max-width: $medium) {

    .main-content {


        .parent {
            padding: 0;
            display: flex;
            align-items: center;

            .overlay {

                .top {
                    .title {
                        font-size: 30px;
                        margin-top: -20px;
                    }
                }

                .searchBox {
                    padding: 25px;
                    margin: 100px auto;
                }
            }

        }

        .rotateVideo {
            //transform: rotate(90deg) !important;
            //transform-origin: center;
            width: 100%;
            height: 100vh;
            background-size: cover;
            object-fit: cover !important;
            object-position: center;

        }


        .overlay {
            padding: 50px 25px;


            .top {
                .title {
                    font-size: 48px;
                    font-weight: 900;
                    margin-top: 85px;
                }

                .description {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .searchBox {
                width: 80%;

                .title {
                    font-size: 18px;
                }

                .form-select-lg {
                    margin-bottom: 25px;
                }

                select {
                    option {
                        font-size: 14px !important;
                        text-align: start;
                    }
                }
            }

        }
    }
    .visasTypesInHomePage {
        padding: 60px 50px 0 25px;

        .title {
            font-size: 28px;
        }

        .item {
            width: 100%;
            margin-bottom: 30px;

            a {
                p {
                    font-size: 20px;
                }
            }
        }
    }
    .services {
        padding: 15px 25px 0 25px;

        .servicesTitle {
            font-size: 28px;
        }

        .servicesItems {
            .servicesItem {
                margin-bottom: 30px;
                padding: 15px;

                .description {
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }
    }
    .assessmentInHome {

        padding: 60px 30px 60px 25px;

        .assessmentIcon {
            width: 52px;
            height: 52px;
        }

        .left {
            .title {
                font-size: 26px;
            }

            a {
                font-size: 15px;
            }

            .description {
                color: $white;
                font-size: 17px;
                font-style: normal;
                font-weight: 300;
                line-height: 200%; /* 30.6px */
            }

            .moreDescription {
                color: $white;
                font-size: 17px;
                font-style: normal;
                font-weight: 300;
                line-height: 170%; /* 30.6px */
                margin-bottom: 50px;
            }
        }
    }
    .wave-bottom {
        margin-top: -3px!important;
    }
    .wave {
        margin-top: -5px;
    }
    .benefitImage {
        width: 85%;
        display: flex;
        margin: 50px auto 0 auto;
    }
    .consultationTime {
        padding: 25px 40px 60px 40px;


        .title {
            font-size: 28px;
        }

        .conference {
            border-radius: 15px;
            padding: 25px 0;
            margin-top: 25px;

            ul {
                gap: 30px;

                li {
                    width: 100%;
                    padding: 10px;


                    &.itemStart {
                        border-radius: 10px;
                        display: flex;
                        justify-content: start;

                    }

                    &.itemCenter {
                        border-radius: 10px;
                        display: flex;
                        justify-content: start;
                    }

                    &.itemEnd {
                        border-radius: 10px;
                        display: flex;
                        justify-content: start;

                    }

                    a {

                        margin-right: 20px;

                        .icon {
                            width: 57px;
                            height: 57px;
                            align-items: center;
                            font-size: 25px;
                        }

                        .conferenceType {
                            font-size: 19px;

                        }
                    }
                }
            }
        }

        .description{
            font-size: 17px;
        }

    }
    .whyRyanVisa {
        flex-direction: column-reverse;
        padding: 0 25px 50px 25px;

        .right {
            .reason {
                font-size: 24px;
                margin-bottom: 30px;
            }

            .item {
                align-items: center;
                padding: 15px 7px;
                flex-direction: column;
                margin-bottom: 20px;

                &:first-child {
                    margin-left: 20px;
                }

                .icon {
                    width: 72px;
                    height: 72px;
                    align-items: center;

                    &:hover {
                        background: $icon-background;
                    }
                }

                .title {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    font-size: 16px;
                    color: $bg-darkBlue;
                    cursor: pointer;
                    font-weight: 500;
                }

            }
        }

    }
    .wave-top-mobile {
        margin-top: -75px;
        margin-left: -1px;

    }
    .successfulVisas {
        padding: 30px 25px 60px 25px;

        .successfulVisasNumber {
            padding: 0 25px;
            .title {
                font-size: 28px;
            }

            .description {
                font-size: 17px;
                line-height: 30px!important;
            }

            .item {
                margin-bottom: 16px;
                padding: 20px;
                .title {
                    font-size: 15px;
                }
                .number {
                    font-size: 25px;
                }
            }
        }
    }
    .commentsTravelers {
        padding: 60px 25px;

        .description {
            font-size: 18px;
        }

        .card {
            width: 100% !important;
        }
    }
    .repetitiveQuestions {
        padding: 0 25px 60px 25px;

        .title {
            font-size: 24px;
        }

        .accordion {
            padding: 0;
            .accordion-button {
                color: $gray-500;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
}


@media screen and (min-width: $medium) {

    .main-content {


        .overlay {
            padding: 120px 240px;

            .top {
                .title {
                    margin-top: 150px;
                    font-size: 96px;
                    font-weight: 900;
                }

                .description {
                    font-size: 24px;
                    font-weight: 500;

                }
            }

            .searchBox {
                width: 75%;

                .title {
                    font-size: 24px;
                }

            }
        }

    }
    .visasTypesInHomePage {

        .title {
            font-size: 32px;
        }

        padding: 60px 120px !important;
        margin: 0 auto;

        .item {
            width: 21%;

            a {
                p {
                    font-size: 24px;
                }
            }
        }
    }
    .services {
        padding: 60px 120px;

        .servicesTitle {
            font-size: 32px;
        }


        .servicesItems {
            gap: 70px;
            margin-bottom: 30px;
            padding: 35px;

            .servicesItem {
                padding: 25px 15px;

                .description {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
    .assessmentInHome {
        padding: 0 120px 60px 120px;
        gap: 40px;

        .assessmentIcon {
            width: 65px;
            height: 65px;
        }

        .left {
            .title {
                font-size: 32px;
            }

            a {
                font-size: 20px;
            }

            .description {
                font-size: 18px;
                font-weight: 500;
            }

            .moreDescription {
                font-size: 18px;
                font-weight: 400;
            }

        }
    }
    .benefitImage {
        margin-top: 30px;
        margin-right: 135px;
    }
    .consultationTime {
        padding: 0 120px 60px 120px;

        .title {
            font-size: 32px;
        }

        .conference {
            border-radius: 100px;
            padding: 25px 50px;
            margin-top: 50px;

            ul {
                gap: 50px;

                li {
                    width: 30%;
                    padding: 35px;

                    &.itemStart {
                        border-radius: 10px 85px 85px 10px;

                    }

                    &.itemCenter {
                        border-radius: 10px 10px 10px 10px;
                    }

                    &.itemEnd {
                        border-radius: 85px 10px 10px 85px;

                    }

                    a {
                        .icon {
                            width: 65px!important;
                            height: 65px!important;
                            align-items: center;
                        }
                        .conferenceType {
                            font-size: 23px;

                        }
                    }
                }
            }
        }

        .description{
            font-size: 20px;
        }

    }
    .whyRyanVisa {
        padding: 60px 120px;

        .right {
            .reason {
                font-size: 32px;
                margin-bottom: 50px;
            }

            .item {
                flex-direction: row;
                justify-content: start;
                padding: 25px;
                margin-left: 20px;
                margin-bottom: 20px;

                .icon {
                    width: 72px;
                    height: 72px;
                    align-items: flex-end;
                }

                .title {
                    text-align: right;
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }

        .left {
            justify-content: center;

            img {
                border-radius: 10px;
            }
        }
    }
    .wave-top {
        margin-left: 0;
        margin-top: -1px;
        background: linear-gradient(to bottom, rgba(0, 87, 144, 0.10) 0%, rgba(0, 87, 144, 0.00) 100%), #FFF;


    }
    .successfulVisas {
        padding: 60px 120px;

        .successfulVisasNumber {
            .title {
                font-size: 32px;
            }

            .description {
                font-size: 20px;
            }

            .item {
                margin-left: 32px;
                padding: 25px 50px;
                .title {
                    font-size: 20px;
                }

                .number {
                    font-size: 32px;}
            }
        }
    }
    .commentsTravelers {
        padding: 60px 120px;

        .description {
            font-size: 24px;
        }

        .card {
            width: 31%;
        }
    }
    .repetitiveQuestions {
        padding: 60px 120px;

        .title {
            font-size: 32px;
        }
        .accordion-button {
            color: $gray-300;
            font-size: 18px;
        }
    }

}

