@import "../colors";
.latestOnBlog {
    display: flex;
    padding: 0 120px 120px 120px;
    flex-direction: column;
    align-items: center;
    background: $bg-darkBlue;

    .weblog {
        margin-bottom: 40px;

        .title {
            color: #eee;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 30px */
            margin-bottom: 8px;
        }

        .description {
            color: #eee;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 48px */
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            a {
                color: $bg-darkBlue;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 24px */
                text-decoration: none;
                margin-left: 0;
            }
        }

        button {
            color: var(--bg-black, #242424);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
        }
    }

    .lastedNews {
        display: flex;
        align-items: center;

        .right {

            height: 465px;
            padding: 25px;
            display: flex;
            flex-direction: column;
            flex: 1 0 0;
            align-self: stretch;
            border-radius: 8px;
            background-size: cover;
            background-color: linear-gradient(0deg, rgba(0, 24, 25, 0.30) 0%, rgba(0, 24, 25, 0.30) 100%), lightgray 50% / cover no-repeat, rgba(252, 252, 253, 0.50);
            opacity: 1;
            margin-left: 16px;
            filter: contrast(1);


        }

        .left {
            height: 465px;
            filter: contrast(1);
        }


        .item {
            position: relative;
            display: flex;
            padding: 0;
            flex-direction: column;
            flex: 1 0 0;
            align-self: stretch;
            background-size: cover;
            border-radius: 8px;
            margin: 0 0 16px 16px;

            .small{
                height: 225px;
            }

            &:hover {
                opacity: 0.8;
            }

            .title {
                color: $white;
                text-align: right;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 36px */
                position: absolute!important;
                bottom: 10px;
                backdrop-filter: blur(10px);
                height: 70px;

            }
        }
    }
}
