@import '../colors';

.main-content {
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;


    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($black, 0.3) !important; /* افکت تیره‌کردن */
        z-index: 1;


        .top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .title {
                color: $white;
                opacity: 0.98;
                text-align: center;
                text-shadow: 0 10px 20px rgba($black, 0.15);
                line-height: normal;
                margin-bottom: 25px;
                font-style: normal;

            }

            .description {
                color: $white;
                text-align: center;
                font-style: normal;
                margin-bottom: 50px;
                line-height: 29px; /* 161.111% */

            }

        }

        .searchBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:50px;
            margin: 0 auto;
            border-radius: 15px;
            background: rgba(55, 65, 81, 0.10);
            box-shadow: 10px 24px 24px 0 rgba(250, 133, 112, 0.10);
            backdrop-filter: blur(10px);


            .title {
                color: rgba(250, 250, 250, 0.98);
                text-align: right;
                font-style: normal;
                line-height: 24px; /* 100% */
                font-weight: 500;
                margin-bottom: 30px;
            }

            .form-select-lg {
                padding: 14px 36px;
                border-radius: 8px;
                border: 2px solid $gray-200;

                option {
                    color: $gray-300;
                    text-align: right;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px; /* 133.333% */
                    display: flex;
                    flex-direction: column;
                    flex: 1 0 0;
                    align-self: stretch;
                    padding: 15px!important;

                     &:hover {
                        background: $light-primary!important;
                         color: $primary;
                    }
                }
            }


            button {
                display: flex;
                height: 56px;
                padding: 18px 36px;
                justify-content: center;
                align-items: center;
                gap: 16px;
                border-radius: 10px;
                background: $secondary;
                color: $white;
            }

        }

    }
}
