.newsLetter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 220px;
    padding: 60px 120px;
    margin-right: 0;
    background-image: url(../../public/images/newsLetter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    background-color: linear-gradient(0deg, rgba(10, 65, 82, 0.25) 0%, rgba(10, 65, 82, 0.25) 100%), lightgray 0px -305.767px / 100% 393.204% no-repeat;

    .right {

        .title {
            color: var(--bg-white, #FFF);
            text-align: right!important;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 30px */
        }

        .description {
            color: var(--bg-white, #FFF);
            text-align: right!important;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 48px */
            margin-bottom: 0;
        }
    }

    .left {
        display: flex;
        padding: 24px 32px;
        align-items: center;
        flex: 1 0 0;
        border-radius: 8px;
        background: var(--bg-white, #FFF);
        color: #001819;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        border: none !important;

        input {
            border: none;
            color: #001819;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
        };

        span{
            border: none;
            background: #fff;
        }
    }
}
