@import '../colors';

.repetitiveQuestions {
    display: flex;
    background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;

    > .row {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        margin: 25px 0;
    }

    .icon {
        display: flex;
        width: 48px;
        height: 48px;
        padding: 10px;
        justify-content: center;
        align-items: center;

    }

    .title {
        display: flex;
        color: $gray-500;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 48px */
    }

    .accordion-button {
        color: $gray-300;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
    }

    .accordion-collapse {
        color: var(--neutral-700, #374151);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 200%; /* 25.6px */
        padding: 0;

        a {
            color: $primary;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .accordion-button:not(.collapsed) {
        background: $white;
        color: $primary;
    }

    #collapseOne:not(.collapsed) {
        background: linear-gradient(0deg, rgba(158, 173, 189, 0.10) 0%, rgba(158, 173, 189, 0.10) 100%), #FFF;

    }

    #collapseTwo:not(.collapsed) {
        background: linear-gradient(0deg, rgba(158, 173, 189, 0.10) 0%, rgba(158, 173, 189, 0.10) 100%), #FFF;

    }

    #collapseThree:not(.collapsed) {
        background: linear-gradient(0deg, rgba(158, 173, 189, 0.10) 0%, rgba(158, 173, 189, 0.10) 100%), #FFF;

    }

    .accordion-button::after {
        margin-left: 0 !important;
    }
}
