@import '../colors';

.services {
    background: $bg-darkBlue;
    backdrop-filter: blur(10px);
    width: 100%;
    display: flex;
    justify-content: center;


    .servicesTitle {
        color: #eee;
        font-feature-settings: 'liga' off;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -0.9px;
        margin-bottom: 60px;
        text-align: right;
    }

    .servicesItems {


        .servicesItem {
            display: flex;
            justify-content: center !important;
            flex-direction: column;
            backdrop-filter: blur(5px);
            background: linear-gradient(180deg, rgba(1, 84, 138, 0) 0%, rgba(0, 83, 136, 0.1) 100%), #FFF;
            box-shadow: 10px 15px 15px 0 rgba(#eee, 0.1);
            border-radius: 4px;

            &.clickable {

                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }


            &.disableNow {
                opacity: 0.7;
            }

            &.comingSoon {
                position: relative;
                cursor: pointer;
                opacity: 0.8;

                .badgeSoon {
                    position: absolute;
                    top: 30px !important;
                    right: 45px !important;
                    font-size: 15px !important;
                }

                .blinking-text {
                    font-size: 24px;
                    font-weight: bold;
                    animation: blink 1.5s infinite;

                    @keyframes blink {
                        0%, 50%, 100% {
                            opacity: 1;
                        }
                        25%, 75% {
                            opacity: 0;
                        }
                    }
                }
            }


            .servicesIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 72px;
                height: 72px;
                padding: 12px;
                border-radius: 50%;
                background: $icon-background;
                margin: 0 auto 25px auto;
            }

            .description {
                color: $gray-300;
                text-align: center;
                font-feature-settings: 'liga' off;
                font-style: normal;
                line-height: normal;

                a {
                    color: $gray-300;
                }
            }
        }
    }

}
