@import '../colors';

.successfulVisas {

    position: relative;
    background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;


    .wave {
        position: absolute;
        top: -23px;
        left: -12px;
    }

    .benefit {
        width: 658px;
        height: 224px;
        position: absolute;
        left: 330px;
        top: 215px;
    }


    .successfulVisasNumber {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1 0 0;

        .title {
            color: $gray-500;
            text-align: right;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 54px */
            margin-bottom: 25px;
        }

        .description {
            color: $gray-500;
            text-align: right;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 100% */
            margin-bottom: 50px;
        }

        .item {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            gap: 8px;
            flex: 1 0 0;
            align-self: stretch;
            border-radius: 15px;
            backdrop-filter: blur(10px);
            border: 1px solid $primary;
            background: rgba(255, 255, 255, 0.50);
            box-shadow: 5px 10px 20px 0 rgba($black, 0.05), 5px 10px 20px 4px rgba(0, 165, 148, 0.10);


            &:hover {
                transform: scale(1.05);
            }

            .number {
                color: $primary;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 48px */
            }

            .title {
                color: $gray-300;
                text-align: center;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 27px */
                margin-bottom: 0;
            }
        }

    }


}
