@import '../colors';

.visasTypesInHomePage {
    display: flex;
    background: $bg-darkBlue !important;

    .title {
        color: #eee;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 48px */
        margin-bottom: 60px;
    }

    .item {
        padding: 0;
        align-self: stretch;
        border-radius: 10px 10px 10px 30px;
        text-align: right;
        font-feature-settings: 'liga' off;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; /* 166.667% */


        &:hover {
            opacity: 0.9;
        }

        a {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        &.tourist {

            p {
                color: $white;
            }

            &:hover {

                p {
                    color: $bg-darkBlue;
                }
            }

        }

    }
}
