@import '../colors';

.whyRyanVisa {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 87, 144, 0.10) 0%, rgba(0, 87, 144, 0.00) 100%), #FFF;



    .right {
        display: flex;
        flex-direction: column;
        justify-content: start;

        .title {
            color: $gray-300;
            text-align: right;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 36px */
            margin-bottom: 8px;
        }

        .reason {
            color: $gray-500;
            text-align: right;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 48px */

        }

        .item {
            display: flex;
            gap: 25px;
            flex: 1 0 0;
            border-radius: 10px;
            align-items: center;
            box-shadow: 1px 2px 2px #eee;

            .icon {
                display: flex;
                padding: 16px;
                gap: 10px;
                border-radius: 50px;
                background: $icon-background;

            }

            .title {
                color: $gray-300;
                font-style: normal;
                line-height: 150%; /* 36px */
            }
        }
    }

    .left {
        display: flex;
    }
}
