.footer {

    flex-direction: column;
    background: $bg-darkBlue;
    color: white;

    .top {
        margin-bottom: 40px;

        .title {
            color: white;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 36px */
            margin-bottom: 32px;
        }

        .items {
            margin-bottom: 16px;
            color: white;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 150%; /* 24px */
        }

        img {
            width: 200px;
            height: 200px;
        }
    }

    .bottom {
        .copyright {
            color: white;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 150%; /* 24px */
        }

        a {
            text-decoration: none;
            margin-left: 24px;
            color: white;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 150%; /* 24px */
        }

    }
}
