@import '../colors';
@import '../breakpoints';

@media (max-width: $medium) {

    .header {

        .navbar {
            position: relative;
            padding: 0;

            .navbar-toggler {
                background: $primary !important;
                display: flex;
                justify-content: right;
                position: absolute;
                top: 33px;
                right: 25px;
            }

            ul{
                li{
                    padding: 10px 16px
                }
            }

        }

        .dropdown-menu {
            background: none;
            border: none;

            .dropdown-item {
                background: none;
                color: #eee;
                padding: 5px;
                font-size: 12pt;
                margin: 10px 0;

                &:hover {
                    color: $primary;
                    padding: 5px;
                }
            }

        }

    }

    .footer {
        padding: 40px;

        .top {
            margin-bottom: 40px;

            .title {
                font-size: 20px;
            }
        }
    }

    .navbarBottom {

        .sticky-navbar {
            width: 100%;

            .navbar-nav {
                width: 100%;

                li {
                    padding: 15px 0;

                    .nav-link {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (min-width: $medium) {

    .header {

        .navbar {
            ul {
                display: flex;
                align-items: center;
                li {
                    padding: 16px;
                }
            }
        }

        .fixed-top {
            display: flex;
            align-items: center;
            background: $white;
            position: absolute;
            background: rgba(58, 72, 86, 0.10);
            box-shadow: 0 4px 4px 0 rgba($black, 0.15);
            backdrop-filter: blur(15px);
        }

        .dropdown-menu {
            background: #eee;

            .dropdown-item {
                color: $bg-darkBlue;
                padding: 5px;
                font-size: 12pt;
                margin: 10px 0;

                &:hover {
                    //background: rgba(0, 165, 148, .1);
                    color: $primary;
                    padding: 5px;
                }
            }

        }

    }

    .footer {
        padding: 60px 120px;
        align-items: flex-start;

        .top {
            margin-bottom: 40px;

            .title {
                font-size: 24px;
            }
        }
    }

    .navbarBottom {
        display: none;
        //display: flex;
        justify-content: end;

        .sticky-navbar {
            width: 20%;


            .navbar-nav {
                width: 30%;
                border-radius: 10px;

                li {
                    padding: 15px 5px;

                    .nav-link {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
