@import '../colors';

.navbar {

    ul {
        padding: 0;
        display: inline-flex;
        list-style: none;
        margin: 0 32px;


        li {


            a {
                text-decoration: none;
                color: $white;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                text-align: right;
                &:hover {
                    color: $light-primary !important;
                }

                &.active {
                    color: $primary !important;
                    font-weight: bold;

                }
            }

            .dropdown-menu {

                padding: 10px;


                .dropdown-item{
                    padding: 5px;
                    font-size: 12pt;
                    margin: 10px 0;

                    &:hover {
                        background: none;
                        color: $primary;
                        scale: 1.05;
                        padding: 5px;
                    }
                }

            }

        }

    }
}


