@import "../colors";

.navbarBottom {
    .sticky-navbar {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        //animation: blink 20s infinite alternate; /* اضافه کردن انیمیشن چشمک زن */


        //@keyframes blink {
        //    to {
        //        opacity: 0.9;
        //    }
        //}

        &:hover {
            animation: none; /* حذف انیمیشن هنگام هاور */
            opacity: 1; /* حالت شفافیت نرمال هنگام هاور */
        }

        .navbar-nav {
            width: 100%;
            justify-content: space-around;
            background: rgba(0, 165, 148, 0.1);
            margin: 0;
            display: flex;
            flex-direction: row;
            border-top: 1px solid $gray-500;

            li {
                .nav-link {
                    color: $primary;
                    font-weight: bold
                }

            }
        }
    }


}
