@import 'web/fonts';
@import 'web/colors';
@import 'web/breakpoints';

@import 'web/components/header-footer-media';
@import 'web/components/header';
@import 'web/components/navbar-bottom';
@import 'web/components/footer';

@import 'web/home/home-media';
@import 'web/home/main-content';
@import 'web/home/main-content';
@import 'web/home/services';
@import 'web/home/assessment-in-home';
@import 'web/home/consultation-time';
@import 'web/home/contact-form-modal';
@import 'web/home/why-ryan-visa';
@import 'web/home/visas-types-in-home';
@import 'web/home/successful-visas';
@import 'web/home/comments-travelers';
@import 'web/home/repetitive-questions';
@import 'web/home/latest-on-blog';
@import 'web/home/news-letter';

@import 'web/category/visa-type';
@import 'web/category/tourist-visa-media';
@import 'web/category/target-countries';
@import 'web/category/latest-news-on-tourist-visa';

@import 'web/visa/visa-media';
@import 'web/visa/take-visa';
@import 'web/visa/visa-cost';
@import 'web/visa/visa-documents';
@import 'web/visa/visa-levels';
@import 'web/visa/visas-types';
@import 'web/visa/countries-repetitive-questions';
@import 'web/visa/user-comments';
@import 'web/visa/tags';
@import 'web/visa/assessment-in-visa';
@import 'web/visa/sidebar';

@import 'web/about-us/about-us-media';
@import 'web/about-us/about-us';
@import 'web/about-us/why-ryan-visa-in-about-us';
@import 'web/about-us/experiences-records';
@import 'web/about-us/successful-visas-in-about-us';
@import 'web/about-us/comments-travelers-in-about-us';
@import 'web/about-us/news-letter-in-about-us';

@import 'web/contact-us/contact-us-media';
@import 'web/contact-us/contact-us';
@import 'web/contact-us/form-and-address';

@import './web/assessment/mediaAssessment';
@import './web/assessment/evaluationQuestionnaire';
@import './web/assessment/questionPaper';
@import './web/assessment/receivedMessage';


body {
    font-family: IRANSans, system-ui;
    width:100%;
    margin: 0 auto;
    overflow-x: hidden;

    .overflow-hidden{
        overflow-x: hidden;
    }
}



