@import '../colors';
.evaluationQuestionnaire {

    .top {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .title {
            color: $gray-500;
            line-height: 150%;
            margin-bottom: 16px;
            font-style: normal;
            font-weight: 700;
            text-align: center;
        }

        .description {
            text-align: center;
            color: var(--neutral-700, #374151);
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
        }
    }

    .bottom {

        .right {
            position: relative;

            .title {
                color: $gray-500;
                text-align: right;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
            }

            .description {
                color: var(--neutral-700, #374151);
                text-align: right;
                margin-bottom: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 170%; /* 30.6px */

            }

            button {
                display: flex;
                padding: 12px 24px 12px 17px;
                justify-content: center;
                align-items: center;
                align-self: stretch;
                border-radius: 10px;
                background: $primary;
                color: white;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 36px */


                img {
                    margin-right: 12px;
                }
            }
        }

    }

    .wave{
        background-image: url(../../public/images/Vector2.png);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: -120px;
    }

}
