@import '../breakpoints';
@import '../colors';

@media (max-width: $medium) {


    .evaluationQuestionnaire {
        padding: 0;

        .top {
            background-image: url(../../public/images/Vector-mobile-top.png);
            height: 215px;
            padding: 30px 0;
            margin-bottom: 0;

            .title {
                font-size: 28px;
            }

            .description {
                padding: 0 30px;
                font-size: 17px;
            }
        }

        .bottom {
            padding: 0 45px;
            display: flex;
            flex-flow: column-reverse;

            .right {
                margin-top: 20px;
                padding: 0;

                .description {
                    font-size: 17px;
                }

                button {
                    margin: 80px auto -155px auto;
                    font-size: 17px;
                }
            }

            .left {
                padding: 20px 40px;
            }

        }

        .wave {
            padding: 0;
            height: 200px;
            margin-top: 40px !important;
        }
    }

    .questionPaper {
        padding: 0;

        .nav-link .progressNav {
            display: none;
        }

        .tab-content {
            padding: 0 25px 25px 25px;

            .tab-pane {
                padding: 25px;
                background-image: url(../../public/images/background-mobile.png);
            }

        }

        .question {
            padding: 0;
            display: flex;
            justify-content: center;
        }

        .requiredAlert {
            font-size: 15px !important;
        }

    }

    .receivedMessage {
        padding: 0 25px 25px 0;
        margin: 10px auto;

        .messageSendingMethod {
            padding: 25px;
            margin-top: 10px;
            width: 100%;

            .endBtn {
                padding: 10px 20px;
                display: flex;
                justify-content: center;
            }
        }


    }
}

@media (min-width: $medium) {


    .evaluationQuestionnaire, .questionPaper {
        background: $bg-darkBlue;
    }

    .evaluationQuestionnaire {
        padding: 0;

        .top {
            height: 375px;
            background-image: url(../../public/images/Vector.png);
            padding: 80px 0;
            margin-bottom: 40px;

            .title {
                font-size: 32px;
            }
            .description {
                font-size: 20px;
            }
        }

        .bottom {

            padding: 0 300px;

            .right {
                .description {
                    font-size: 20px;
                }

                button {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    font-size: 24px;
                }
            }
        }

        .wave {
            padding: 100px 0 150px 4px;
            height: 290px;
        }
    }

    .questionPaper {
        padding: 60px;

        .nav-link.active, .inactive-tab {
            border-radius: 0;
        }

        .nav-tabs {
            display: flex;
            justify-content: center;
        }

        .tab-content {
            padding: 0 60px;


            .tab-pane {
                background-image: url(../../public/images/background-question-paper.png);
                margin: 0 0 60px 0;
                padding: 25px 50px;
            }
        }

        .question {
            padding: 0 25px;
        }

        .requiredAlert {
            font-size: 18px !important;
        }
    }

    .receivedMessage {
        padding: 60px;
        margin: 20px auto;


        .message {
            width: 494px;
            height: 494px;
        }

        .messageSendingMethod {
            padding: 25px 50px;
            width: 100%;

            .row {
                display: flex;
                flex-wrap: nowrap !important;
            }

            .phoneNumber {
                margin-right: -70px !important;
            }

            .endBtn {
                padding: 10px 20px;
                display: flex;
                justify-content: start;
            }
        }
    }

}
