@import "../colors";

.questionPaper {
    margin: 0 auto;

    .btn {
        --bs-btn-border-width: none !important;
    }

    .nav-tabs {
        --bs-nav-tabs-border-width: none !important;
        box-shadow: 0 1px 1px #D9D9D9;
        padding: 25px 0;
    }

    span.vpd-close-addon {
        display: none;
    }

    .nav-link {
        color: $gray-500 !important;
        cursor: default;
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;


    }

    .nav-link.active, .inactive-tab {
        color: $primary !important;
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .nav-link i {
        margin: 0 8px;
    }

    .nav-link.active i svg path, .inactive-tab i svg path {
        fill: $primary !important;
    }

    .requiredAlert {
        background-color: #fff9f8;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    .tab-content {


        .tab-pane {
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid $primary;
            border-radius: 10px;



            .next, .previous ,.send {
                background-color: $primary!important;
                color: white;
                font-size: 14px;
            }
        }
    }

    .question {
        margin-bottom: 50px;
        padding: 0;

        .titleQuestion {
            color: $gray-500;
            text-align: right;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            .point {
                background-color: $gray-500;
                font-size: 25pt;
                width: 0;
                height: 0;
                border-radius: 50%;
                margin-left: 0;
                margin-top: -16px;
            }
        }

        .vpd-input-group input:not(.vpd-is-editable) {
            cursor: pointer;
            padding: 6px 15px !important;
            border-radius: 5px !important;
            overflow: hidden;
        }

        .vpd-icon-btn {
            border-radius: 4px !important;
        }

        ul {

            margin-bottom: 0;

            li {
                padding: 12px;
                display: flex;
                align-items: center;
                cursor: pointer;

                .radioType {
                    height: 20px;
                    width: 20px;
                }

                .radioType:checked {
                    background-color: $primary !important;
                }

                .checkbox-input {
                    width: 18px;
                    height: 18px;
                    background-color: white;
                    border-radius: 50%;
                    vertical-align: middle;
                    border: 1px solid $gray-200;
                    appearance: none;
                    -webkit-appearance: none;
                    outline: none;
                    cursor: pointer;
                    padding: 1px;
                }

                .checkbox-input:checked {
                    width: 17px;
                    height: 17px;
                    background-color: $primary;
                    border: 3px solid $white;
                    box-shadow: 0 0 0 1px $primary;
                }

                .textType {
                    padding: 10px 20px;
                }

                .dateType {
                    padding: 0;
                }

                label {
                    color: #424242;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px; /* 133.333% */
                }

                ul {
                  margin: 0 auto!important;

                    li {
                        display: flex;
                        align-items: center;
                    }
                }


            }
        }
    }

    .selected {
        border-radius: 6px;
        padding: 3px;
        background-color: rgba(0, 165, 148, 0.10);
        margin: 10px 0;

    }


}

#loadingPage {
    display: block;
    margin: 50px auto;
    width: 50px;
    height: 50px;

}

