.receivedMessage {

    .message {
        border-radius: 50%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 87, 144, 0.20) 0%, rgba(0, 87, 144, 0.00) 100%);
        backdrop-filter: blur(15px);
    }
    .image {
        margin: 50px auto !important;
    }
    .thank {
        color: #424242;
        font-size: 24px;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
    }

    .successful {
        color: #3A4856;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 48px */
        margin-bottom: 50px;
    }

    .messageSendingMethod {
        border-radius: 30px;
        border: 1px solid #005790;
        background: rgba(255, 255, 255, 0.50);
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-self: stretch;

        p {
            margin-bottom: 12px;
            color: var(--neutral-700, #374151);
            font-feature-settings: 'liga' off;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 30.6px */
        }

        .selectRadio {

            display: flex;
            align-items: center;



            input[type='radio'] {
                width: 24px;
                height: 24px;
                margin-left: 10px;

            }

            input[type='text'] {
                padding: 10px 20px;
                margin-right: 15px;
            }
        }

        .endBtn button {
            background: #005790;
            color: white;
            padding: 7px 20px;
        }

    }
}
