@import '../colors';

.contactUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-darkBlue;

    .title {
        color: #eee;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 54px */
        margin-bottom: 25px;
    }

    .description {
        color: #eee;
        text-align: center;
        font-feature-settings: 'liga' off;
        font-style: normal;
        font-weight: 500;
        line-height: 200%; /* 30.6px */
        margin-bottom: 50px;
    }
.formAndAddress{
    padding: 100px;
    background: $white;
}

}


