@import '../colors';
@import '../breakpoints';

@media screen and (max-width: $medium) {

    .contactUs {
        padding: 70px 40px 0 40px;

        .title {
            font-size: 28px;
        }

        .description {
            font-size: 17px;
        }

        .items {
            flex-direction: column;

            .item {
                margin-bottom: 25px;
            }
        }
    }
    .formAndAddressContactUs {
        padding: 100px 0;
        margin-top: 30px !important;

        .formBody {
            margin-top: 45px;
        }

        .address {
            .title {
                margin-bottom: 50px;
            }
        }
    }
}


@media screen and (min-width: $medium) {

    .contactUs {
        padding: 180px 120px 60px 120px;

        .title {
            font-size: 32px;
        }

        .description {
            font-size: 19px;
        }

        .items {
            flex-direction: row;
        }
    }

    .formAndAddressContactUs {
        padding: 200px 0;

        .form {
            padding: 60px;
        }

        .address {
            .title {
                margin-bottom: 70px;
            }
        }
    }
}
