@import "../colors";

.formAndAddressContactUsBody {
    background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;

    .formAndAddressContactUs {
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;
        margin: 0 auto;

        .formBody {
            background: $bg-darkBlue;
            padding: 25px;
            border-radius: 10px;

            .form {

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                //align-self: stretch;
                //background: rgba(0, 165, 148, .1);
                //backdrop-filter: blur(10px);

                .title {
                    color: $light-primary;
                    text-align: center;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%; /* 36px */
                    margin-bottom: 25px;
                }

                .description {
                    color: #eee;
                    line-height: 40px;
                }

                .name {
                    color: $light-primary;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 0;
                }

                .btnSend {
                    margin-top: 15px;

                    .sendRequest {
                        display: flex;
                        height: 50px;
                        padding: 12px 24px 12px 17px;
                        align-items: center;
                        gap: 12px;
                        border-radius: 10px;
                        background: $light-primary;
                        backdrop-filter: blur(10px);


                        a {
                            color: $bg-darkBlue;
                            font-size: 18px;
                            text-decoration: none;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%; /* 36px */
                        }
                    }
                }

                .bg-primary-custom{
                    background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;
                    font-size: 20px!important;
                }
            }
        }


        .address {
            .title {
                color: $gray-500;
                text-align: right;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 48px */
                gap: 10px;
            }

            .item {


                .title {
                    font-size: 22px;
                    margin-bottom: 20px;
                }

                .description {
                    color: var(--neutral-700, #374151);
                    text-align: justify;
                    font-feature-settings: 'liga' off;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 170%; /* 30.6px */
                    margin-bottom: 30px;

                }

                .point {
                    width: 5px;
                    height: 5px;
                    display: inline-block;
                    border-radius: 50%;
                    background: $gray-500;
                    margin-left: 5px;
                    margin-top: 0;
                }
            }

        }

    }

}
