@import '../colors';

.latestNewsOnTouristVisa {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 87, 144, 0.10) 0%, rgba(0, 87, 144, 0.00) 100%), #FFF;


    .description {
        color: $bg-darkBlue;
        text-align: right;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        margin-bottom: 0;
    }

    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                .card {
                    border-radius: 10px;
                    border: 2px solid $white;
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%);
                    box-shadow: 0 0 20px 0 rgba($black, 0.15);
                    overflow: hidden;
                    width: 100%;

                    .card-body a {
                        text-decoration: none;
                        color: $white;
                        text-align: right;
                        font-style: normal;

                        font-weight: bold;
                        line-height: normal;
                    }
                }
            }
        }

    }
}

