@import '../colors';

.targetCountries {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;

    .title {
        color: $bg-darkBlue;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 48px */
    }

    .items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        .item {
            display: flex;
            padding: 32px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex: 1 0 0;
            border-radius: 5px;
            background: rgba(255, 255, 255, 04.0);
            box-shadow: 0 4px 10px 0 rgb($bg-darkBlue,0.5);

            &:hover {
                opacity: 0.95;
                transition: transform 0.8s;
                transform: translateY(-20px);

            }

            .country {
                color: $bg-darkBlue;
                background: rgb(#eee,0.75);
                text-align: center;
                font-weight: bold;

                &:hover {
                    display: flex;
                    justify-content: center;
                    color: $primary !important;
                    font-style: normal;
                    line-height: 150%; /* 27px */

                }
            }



        }

    }
}


