@import '../colors';
@import '../breakpoints';

@media screen and (max-width: $medium) {


    .visaType {
        display: flex;
        padding: 70px 40px 0 40px;
        gap: 30px;

        .title {
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            font-size: 28px;
        }

        .description {
            font-size: 17px;
        }

        svg {
            margin-bottom: 25px;
        }

    }

    .targetCountries {
        display: flex;
        padding: 100px 25px 0 25px !important;

        .title {
            margin-bottom: 20px;
            font-size: 24px;
        }

        .items {
            flex-direction: column;
            padding: 0 30px;
            margin: 0 auto;

            .item {
                .country {
                    margin-top: 208px;
                    height: 55px;
                    font-size: 16px;
                }
            }
        }
    }

    .latestNewsOnTouristVisa {
        padding: 60px 30px 60px 25px;

        .title {
            font-size: 24px;
            margin-bottom: 25px !important;
        }

        .description {
            font-size: 24px;
        }

        .newsItem {
            .card-body a {
                font-size: 18px;
            }
        }
    }

}


@media screen and (min-width: $medium) {


    .visaType {
        display: flex;
        padding: 180px 120px 60px 120px;
        flex-direction: row !important;
        gap: 48px;

        .title {
            font-size: 32px;
        }

        .description {
            font-size: 19px;
        }

        .image {
            padding: 70px 75px 0 75px;

            .picture {
                background-image: url(../../public/images/touristVisaPicture/tourist2.jpg);
                height: auto;
            }
        }

    }


    .targetCountries {
        display: flex;
        padding: 150px 120px 120px 120px !important;

        .title {
            margin-bottom: 60px;
            font-size: 28px;
        }

        .items {
            .item {
                .country {
                    margin-top: 223px!important;
                    font-size: 20px;
                    height: 70px;
                }
            }
        }
    }

    .latestNewsOnTouristVisa {
        padding: 60px 120px;

        .title {
            font-size: 28px;
            margin-bottom: 25px !important;
        }

        .description {
            font-size: 28px;
        }

        .newsItem {
            .card-body a {
                font-size: 22px;
            }
        }
    }


}

