@import '../colors';

.visaType {
    display: flex;
    background-color: $bg-darkBlue;

    .title {
        color: #eee;
        display: flex;
        font-style: normal;
        font-weight: 500;
        line-height:200%; /* 48px */
    }


    .description {
        color: #eee;
        text-align: center;
        font-feature-settings: 'liga' off;
        font-style: normal;
        font-weight: 400;
        line-height: 200%; /* 25.6px */

    }


    .image {

        .picture {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

}
