<template>
    <div class="footer">

        <div class="top row">
            <div class="col-md-3">
                <p class="title">دسترسی سریع</p>
                <p class="items">درباره ما</p>
                <p class="items">ویزای کانادا</p>
                <p class="items">ویزای شینگن</p>
                <p class="items">پاسپورت</p>
                <p class="items">وبلاگ رایان</p>
            </div>


            <div class="col-md-3">
                <p class="title">خدمات رایان ویزا</p>
                <p class="items">وقت سفارت ها</p>
                <p class="items">پاسپورت</p>
                <p class="items">وقت سفارت ها</p>
                <p class="items">پشتیبانی</p>
                <p class="items">بلاگ</p>
            </div>


            <div class="col-md-3">
                <p class="title">تماس با ما</p>
                <p class="items">
                    <svg xmlns="http://www.w3.org/2000/svg" class="me-1" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path
                            d="M12 2.25C8.27344 2.25 5.25 5.12766 5.25 8.67188C5.25 12.75 9.75 19.2127 11.4023 21.4448C11.4709 21.5391 11.5608 21.6157 11.6647 21.6686C11.7686 21.7215 11.8835 21.749 12 21.749C12.1165 21.749 12.2314 21.7215 12.3353 21.6686C12.4392 21.6157 12.5291 21.5391 12.5977 21.4448C14.25 19.2136 18.75 12.7533 18.75 8.67188C18.75 5.12766 15.7266 2.25 12 2.25Z"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path
                            d="M12 11.25C13.2426 11.25 14.25 10.2426 14.25 9C14.25 7.75736 13.2426 6.75 12 6.75C10.7574 6.75 9.75 7.75736 9.75 9C9.75 10.2426 10.7574 11.25 12 11.25Z"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    مشهد - میدان جانباز ،
                    <br class="ms-2">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspبرج اداری شماره ۲ پاژ ،
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;طبقه ۱۴ ، واحد ۱۴۰۲ و ۱۴۰۳
                </p>

                <p class="items">
                    <svg xmlns="http://www.w3.org/2000/svg" class="me-1" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M5.83998 9.85635C7.6273 13.7482 10.8078 16.8424 14.7615 18.519L14.774 18.5243L15.5378 18.8647C16.5105 19.2981 17.6537 18.9903 18.2773 18.1272L19.5517 16.3635C19.6295 16.2558 19.6095 16.106 19.506 16.0225L17.2813 14.2277C17.1707 14.1385 17.008 14.1593 16.9234 14.2734L16.0576 15.4418C15.8473 15.7256 15.4675 15.8242 15.1458 15.6786C12.1894 14.3406 9.81367 11.9649 8.47574 9.00851C8.33012 8.68674 8.42872 8.30699 8.71247 8.09671L9.88085 7.23085C9.99502 7.14625 10.0158 6.98362 9.92657 6.87302L8.13153 4.64798C8.0481 4.54456 7.89836 4.52448 7.79063 4.60225L6.01733 5.88241C5.14854 6.5096 4.84259 7.66244 5.28605 8.63789L5.83939 9.85505C5.83959 9.85549 5.83979 9.85592 5.83998 9.85635ZM14.1696 19.8973C9.87362 18.0737 6.41825 14.7107 4.47621 10.4809L4.47504 10.4784L3.92054 9.25868C3.18144 7.63293 3.69136 5.71152 5.13935 4.66621L6.91264 3.38605C7.66676 2.84164 8.71499 2.98225 9.29898 3.70614L11.094 5.93119C11.7186 6.70536 11.5731 7.84375 10.774 8.43599L10.1045 8.93215C11.2354 11.1265 13.0277 12.9189 15.2221 14.0498L15.7183 13.3803C16.3105 12.5812 17.4489 12.4357 18.2231 13.0603L20.4478 14.855C21.172 15.4392 21.3124 16.4879 20.7675 17.242L19.4931 19.0057C18.4538 20.4442 16.5484 20.9572 14.9274 20.2349L14.1696 19.8973Z"
                              fill="white"/>
                    </svg>
                    +98 51 37057663-64-66
                </p>
                <p class="items">
                    <svg xmlns="http://www.w3.org/2000/svg" class="me-1" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path
                            d="M19.875 4.5H4.125C3.08947 4.5 2.25 5.33947 2.25 6.375V17.625C2.25 18.6605 3.08947 19.5 4.125 19.5H19.875C20.9105 19.5 21.75 18.6605 21.75 17.625V6.375C21.75 5.33947 20.9105 4.5 19.875 4.5Z"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.25 7.5L12 12.75L18.75 7.5" stroke="white" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    Ryan-visa@gmail.com
                </p>

                <p class="items">
                    <svg xmlns="http://www.w3.org/2000/svg" class="me-1" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M10.386 8.35691C10.1543 8.21789 9.86573 8.21425 9.6306 8.34738C9.39547 8.48051 9.25012 8.72983 9.25012 9.00003V15C9.25012 15.2702 9.39547 15.5196 9.6306 15.6527C9.86573 15.7858 10.1543 15.7822 10.386 15.6432L15.386 12.6432C15.6119 12.5076 15.7501 12.2635 15.7501 12C15.7501 11.7366 15.6119 11.4925 15.386 11.3569L10.386 8.35691ZM13.5424 12L10.7501 13.6754V10.3247L13.5424 12Z"
                              fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M17.0308 4.64131C13.6821 4.37933 10.3182 4.37933 6.96951 4.64131L4.72881 4.81661C3.36624 4.92321 2.25155 5.94442 2.02632 7.29246C1.50555 10.4092 1.50555 13.5908 2.02632 16.7076C2.25155 18.0556 3.36624 19.0768 4.72881 19.1834L6.96951 19.3587C10.3182 19.6207 13.6821 19.6207 17.0308 19.3587L19.2715 19.1834C20.6341 19.0768 21.7488 18.0556 21.974 16.7076C22.4948 13.5908 22.4948 10.4092 21.974 7.29246C21.7488 5.94442 20.6341 4.92321 19.2715 4.81661L17.0308 4.64131ZM7.0865 6.13674C10.3573 5.88085 13.643 5.88085 16.9138 6.13674L19.1545 6.31204C19.8301 6.3649 20.3828 6.87125 20.4945 7.53966C20.9879 10.4928 20.9879 13.5073 20.4945 16.4604C20.3828 17.1288 19.8301 17.6352 19.1545 17.688L16.9138 17.8633C13.643 18.1192 10.3573 18.1192 7.0865 17.8633L4.8458 17.688C4.17019 17.6352 3.61749 17.1288 3.50581 16.4604C3.01239 13.5073 3.01239 10.4928 3.50581 7.53966C3.61749 6.87125 4.17019 6.3649 4.8458 6.31204L7.0865 6.13674Z"
                              fill="white"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="me-1" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M5 1.25C3.48122 1.25 2.25 2.48122 2.25 4C2.25 5.51878 3.48122 6.75 5 6.75C6.51878 6.75 7.75 5.51878 7.75 4C7.75 2.48122 6.51878 1.25 5 1.25ZM3.75 4C3.75 3.30964 4.30964 2.75 5 2.75C5.69036 2.75 6.25 3.30964 6.25 4C6.25 4.69036 5.69036 5.25 5 5.25C4.30964 5.25 3.75 4.69036 3.75 4Z"
                              fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M2.25 8C2.25 7.58579 2.58579 7.25 3 7.25H7C7.41421 7.25 7.75 7.58579 7.75 8V21C7.75 21.4142 7.41421 21.75 7 21.75H3C2.58579 21.75 2.25 21.4142 2.25 21V8ZM3.75 8.75V20.25H6.25V8.75H3.75Z"
                              fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M9.25 8C9.25 7.58579 9.58579 7.25 10 7.25H14C14.4142 7.25 14.75 7.58579 14.75 8V8.43402L15.1853 8.24748C15.9336 7.92676 16.7339 7.72565 17.5433 7.65207C20.3182 7.3998 22.75 9.58038 22.75 12.3802V21C22.75 21.4142 22.4142 21.75 22 21.75H18C17.5858 21.75 17.25 21.4142 17.25 21V14C17.25 13.6685 17.1183 13.3505 16.8839 13.1161C16.6495 12.8817 16.3315 12.75 16 12.75C15.6685 12.75 15.3505 12.8817 15.1161 13.1161C14.8817 13.3505 14.75 13.6685 14.75 14V21C14.75 21.4142 14.4142 21.75 14 21.75H10C9.58579 21.75 9.25 21.4142 9.25 21V8ZM10.75 8.75V20.25H13.25V14C13.25 13.2707 13.5397 12.5712 14.0555 12.0555C14.5712 11.5397 15.2707 11.25 16 11.25C16.7293 11.25 17.4288 11.5397 17.9445 12.0555C18.4603 12.5712 18.75 13.2707 18.75 14V20.25H21.25V12.3802C21.25 10.4759 19.589 8.97227 17.6791 9.14591C17.025 9.20536 16.3784 9.36807 15.7762 9.6262L14.2954 10.2608C14.0637 10.3601 13.7976 10.3363 13.5871 10.1976C13.3767 10.0588 13.25 9.82354 13.25 9.57143V8.75H10.75Z"
                              fill="white"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="me-1" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M15.0215 3.34346C15.5299 3.25638 16.0992 3.2273 16.635 3.31795C17.5918 3.47983 18.4757 3.92456 19.1744 4.59132C19.6311 4.60165 20.0799 4.51167 20.477 4.38341C20.8131 4.27486 21.097 4.14379 21.296 4.04015C21.3949 3.98862 21.4713 3.94466 21.521 3.9149C21.5458 3.90005 21.5638 3.8888 21.5745 3.88201L21.5841 3.87595C21.8809 3.67822 22.2761 3.7167 22.529 3.96821C22.7819 4.21977 22.8226 4.61469 22.6264 4.9126C22.4187 5.22789 22.1303 5.78996 21.8073 6.41972C21.7565 6.51874 21.7048 6.61943 21.6525 6.7211C21.4672 7.08107 21.2772 7.44488 21.1001 7.75701C20.9889 7.953 20.87 8.15197 20.7501 8.32392V8.59769C20.7577 9.60332 20.6424 10.6037 20.4083 11.5769C20.261 12.1893 20.0667 12.7909 19.8265 13.3762C19.2041 14.8929 18.2857 16.2703 17.1249 17.4281C15.9642 18.5858 14.5844 19.5007 13.0662 20.1192C11.5492 20.7372 9.9245 21.047 8.28665 21.0306C5.91234 21.0326 3.58798 20.3486 1.59326 19.0607C1.29945 18.871 1.17576 18.5034 1.29509 18.1747C1.41443 17.8459 1.74512 17.6433 2.09219 17.6863C2.39255 17.7234 2.69496 17.7416 2.99762 17.7406C4.08507 17.7375 5.15181 17.4973 6.12567 17.0446C5.81612 16.9037 5.52058 16.73 5.24443 16.5252C4.43271 15.9233 3.8288 15.0833 3.51673 14.1222C3.43564 13.8724 3.49108 13.5985 3.66289 13.3999C3.66597 13.3963 3.66908 13.3928 3.67221 13.3893C3.48869 13.2257 3.31696 13.0475 3.15886 12.8558C2.44754 11.9936 2.05587 10.9122 2.05009 9.79447L2.05007 9.79059L2.05008 9.74059C2.05008 9.47472 2.19083 9.22873 2.42003 9.09401C2.47813 9.05986 2.53972 9.03415 2.60307 9.01691C2.26473 8.34183 2.08879 7.59638 2.09007 6.84012C2.08968 5.98336 2.31347 5.14139 2.73923 4.39789C2.86214 4.18325 3.08297 4.04301 3.3295 4.02304C3.57603 4.00306 3.81656 4.10591 3.97242 4.29796C4.93498 5.48397 6.13626 6.45423 7.49825 7.1457C8.19839 7.50115 8.93294 7.77885 9.68874 7.97528C10.1125 8.08541 10.5429 8.17 10.9777 8.22843C10.9585 7.50517 11.1013 6.7823 11.4011 6.11437C11.8407 5.13454 12.5932 4.32837 13.5404 3.82227C13.9416 3.60794 14.4741 3.43723 15.0215 3.34346ZM3.74335 10.891C3.873 11.2558 4.06586 11.5982 4.31592 11.9013C4.80724 12.4968 5.48919 12.9044 6.24641 13.055C6.58369 13.1221 6.83213 13.41 6.84916 13.7535C6.86618 14.0969 6.64743 14.408 6.31843 14.5081C6.04594 14.591 5.76676 14.6488 5.48441 14.6809C5.67099 14.9214 5.89047 15.1368 6.13787 15.3203C6.69906 15.7364 7.376 15.9673 8.07451 15.9807C8.39143 15.9868 8.6703 16.1915 8.77112 16.492C8.87195 16.7925 8.77296 17.124 8.52386 17.32C7.47469 18.1455 6.26149 18.7212 4.97594 19.0151C6.04142 19.3563 7.15887 19.532 8.28916 19.5306L8.29786 19.5306C9.73792 19.5455 11.1665 19.2734 12.5002 18.7301C13.8339 18.1867 15.046 17.3831 16.0656 16.3661C17.0853 15.3491 17.892 14.1391 18.4388 12.8067C18.6498 12.2925 18.8205 11.7641 18.9499 11.2261C19.1557 10.3704 19.257 9.49072 19.2501 8.60645L19.2501 8.60059V8.07059C19.2501 7.88873 19.3161 7.71307 19.436 7.5763C19.5053 7.49726 19.6264 7.3147 19.7955 7.0168C19.9561 6.73368 20.1339 6.39377 20.3188 6.03459C20.33 6.01286 20.3412 5.99103 20.3525 5.96909C19.8729 6.07324 19.3293 6.12783 18.7595 6.06624C18.579 6.04674 18.4118 5.96245 18.2887 5.82901C17.7858 5.28368 17.1162 4.92067 16.3848 4.79693C16.0602 4.74202 15.6679 4.75459 15.2748 4.82193C14.8477 4.89509 14.476 5.0231 14.2473 5.14528C13.593 5.49485 13.0733 6.05169 12.7696 6.72848C12.4659 7.40526 12.3954 8.16371 12.5692 8.88487C12.6246 9.11478 12.5683 9.35736 12.4174 9.53939C12.2664 9.72142 12.0384 9.82158 11.8022 9.80963C10.9588 9.76697 10.1243 9.63832 9.31142 9.42705C8.45152 9.20356 7.61579 8.88761 6.81921 8.4832C5.64643 7.88779 4.57838 7.11069 3.65354 6.183C3.61135 6.39861 3.58993 6.61864 3.59008 6.84009L3.59007 6.84201C3.58903 7.39273 3.72418 7.93516 3.98349 8.42101C4.2428 8.90686 4.61822 9.32105 5.07633 9.6267C5.35436 9.8122 5.47608 10.1593 5.37483 10.4778C5.27358 10.7963 4.97378 11.0094 4.63968 11.0003C4.33708 10.9921 4.03702 10.9553 3.74335 10.891Z"
                              fill="white"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="me-1" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M10.4877 3.78769C11.4723 2.80312 12.8076 2.25 14.2 2.25H16.9C17.3142 2.25 17.65 2.58579 17.65 3V6.6C17.65 7.01421 17.3142 7.35 16.9 7.35H14.2C14.1602 7.35 14.1221 7.3658 14.0939 7.39393C14.0658 7.42206 14.05 7.46022 14.05 7.5V9.45H16.9C17.131 9.45 17.349 9.5564 17.4912 9.73844C17.6333 9.92048 17.6836 10.1578 17.6276 10.3819L16.7276 13.9819C16.6441 14.3158 16.3442 14.55 16 14.55H14.05V21C14.05 21.4142 13.7142 21.75 13.3 21.75H9.7C9.28579 21.75 8.95 21.4142 8.95 21V14.55H7C6.58579 14.55 6.25 14.2142 6.25 13.8V10.2C6.25 9.78579 6.58579 9.45 7 9.45H8.95V7.5C8.95 6.10761 9.50312 4.77226 10.4877 3.78769ZM14.2 3.75C13.2054 3.75 12.2516 4.14509 11.5483 4.84835C10.8451 5.55161 10.45 6.50544 10.45 7.5V10.2C10.45 10.6142 10.1142 10.95 9.7 10.95H7.75V13.05H9.7C10.1142 13.05 10.45 13.3858 10.45 13.8V20.25H12.55V13.8C12.55 13.3858 12.8858 13.05 13.3 13.05H15.4144L15.9394 10.95H13.3C12.8858 10.95 12.55 10.6142 12.55 10.2V7.5C12.55 7.06239 12.7238 6.64271 13.0333 6.33327C13.3427 6.02384 13.7624 5.85 14.2 5.85H16.15V3.75H14.2Z"
                              fill="white"/>
                    </svg>
                </p>
            </div>


            <div class="col-md-3 d-flex justify-content-end"><img src="../../../../../public/images/logo-footer.png" class="me-0">
            </div>
        </div>

        <div class="bottom row">
            <div class="col-md-5">
                <p class="mb-0 copyright"> تمامی حقوق این وبسایت متغلق به رایان سیاحت می باشد © 2023</p>
            </div>
            <div class="col-md-4 offset-md-3 d-flex justify-content-end">
                <a href="#">شرایط و قوانین</a>
                <a href="#">حریم خصوصی</a>
                <a href="#" class="me-0">Legal</a>
            </div>
        </div>
    </div>
</template>

<script setup>
</script>

<style scoped>

</style>
