<template>
    <div class="header row">
            <div class="menu col-md-8">
                   <img class="logo" src="../../../../../public/images/logo.png">
                   <ul>
                       <li><a href="#">خانه</a></li>
                       <li><a href="#" class="active">اخذ ویزا</a></li>
                       <li><a href="#">وقت سفارت</a></li>
                       <li><a href="#">وبلاگ</a></li>
                       <li><a href="#">درباره ما</a></li>
                       <li><a href="#">تماس با ما</a></li>
                   </ul>
               </div>

            <div class="search col-md-4">
                <div class="input-group input-group-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M10.4 5.6C7.74903 5.6 5.6 7.74903 5.6 10.4C5.6 13.051 7.74903 15.2 10.4 15.2C13.051 15.2 15.2 13.051 15.2 10.4C15.2 7.74903 13.051 5.6 10.4 5.6ZM4 10.4C4 6.86538 6.86538 4 10.4 4C13.9346 4 16.8 6.86538 16.8 10.4C16.8 11.879 16.2983 13.2408 15.4559 14.3245L19.7657 18.6343C20.0781 18.9467 20.0781 19.4533 19.7657 19.7657C19.4533 20.0781 18.9467 20.0781 18.6343 19.7657L14.3245 15.4559C13.2408 16.2983 11.879 16.8 10.4 16.8C6.86538 16.8 4 13.9346 4 10.4Z" fill="#6C757D"/>
                    </svg>
                    <input type="search" class="border-0 ms-1" placeholder="جستجو ...">
                </div>
            </div>
        </div>


</template>

<script setup>
</script>

<style scoped>

</style>
