@import '../colors';

.assessmentInVisa {
    display: flex;
    align-items: center;
    background: $bg-darkBlue;
    padding: 25px 25px 50px 25px;


    .left {
        display: flex;
        flex-direction: row;
        gap: 25px;

        .assessmentIcon {
            display: flex;
            padding: 12px;
            align-items: center;
            gap: 10px;
            border-radius: 50%;
            background: $icon-background;
            margin-left: 5px;
            width: 62px;
            height: 62px;
        }

        .title {
            color: $primary;
            text-align: right;
            font-feature-settings: 'liga' off;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
        }

        .description {
            color: $light-primary;
            font-style: normal;
            line-height:200%; /* 30.6px */
        }

        .moreDescription {
            color: #eee;
            font-style: normal;
            line-height: 170%; /* 30.6px */
            margin-bottom: 50px;
        }

        a {
            text-decoration: none;
            width: auto;
            height: 60px;
            background: rgba(0, 165, 148, 0.1);
            color: $primary;
            padding: 15px 24px 15px 17px;
            align-items: center;
            gap: 12px;
            border-radius: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 36px */

        }
    }

}


