@import "../colors";

.countriesRepetitiveQuestionsBody {
    background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;
    .countriesRepetitiveQuestions {
        display: flex;
        background: rgba(255, 255, 255, 0.50);
        margin: 0 auto;

        >.row {
            display: flex;
            flex-direction: row !important;
            align-items: center;
            margin: 25px 0;
        }

        .icon {
            display: flex;
            width: 48px;
            height: 48px;
            padding: 10px;
            justify-content: center;
            align-items: center;

        }

        .title {
            display: flex;
            color: $gray-500;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 48px */
        }

        .accordion-button {
            color: $gray-300;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 27px */
        }

        .accordion-body {
            line-height: 200%;
        }

        .accordion-collapse {
            color: var(--neutral-700, #374151);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
            padding: 10px;
        }

        .accordion-button:not(.collapsed) {
            background-color: $white;
            color: $primary;
        }

        .accordion-button::after {
            margin-left: 0 !important;
        }
    }
}

