@import "../colors";


.tagsBody {
    background: linear-gradient(to bottom, rgba(0, 87, 144, 0.10) 0%, rgba(0, 87, 144, 0.00) 100%), #FFF;
    padding: 60px 0;

    .tags {
        padding: 45px;
        background: $bg-darkBlue;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        justify-content: center;

        .title {
            color: #eee;
            text-align: right;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 25px;

        }



        .countryTags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 15px;
            gap: 10px;

            .item {
                padding: 10px;
                display: flex;
                justify-content: center;
                background: rgba(0, 165, 148, .1);
                backdrop-filter: blur(10px);
                border-radius: 25px;


                .tagName {
                    text-decoration: none;
                    color: $primary;

                    &:hover {
                        color: #eee;
                    }
                }
            }
        }

    }


}

