@import "../colors";

.takeVisa {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: $bg-darkBlue;
    gap: 25px;

    .bg-countries {
        background-image: url(../../public/images/frameTop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .over {

            background: rgba(58, 72, 86, 0.30);
            box-shadow: 10px 24px 24px 0 rgba(250, 133, 112, 0.10);
            backdrop-filter: blur(5px);


            .banner {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: stretch;

                .title {
                    color: $white;
                    text-align: center;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%; /* 48px */
                }

                .description {
                    color: $white;
                    text-align: center;
                    font-feature-settings: 'liga' off;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%; /* 28.8px */

                }
            }
        }}

}

