@import "../colors";

.userCommentsBody {

    display: flex;
    justify-content: center;
    background: $bg-darkBlue;


    .userComments {
        padding: 25px;
        .title {
            color: $primary;
            text-align: right;
            font-feature-settings: 'liga' off;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
        }

        .description {
            color: #eee;
            font-style: normal;
            line-height:200%; /* 30.6px */
        }

        .btn-comment {
            width: auto;
            height: 50px;
            background: rgba(0, 165, 148, 0.1);
            color: $primary;
            padding: 15px 24px 15px 24px;
            align-items: center;
            gap: 12px;
            border-radius: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 36px */
        }

        .modal-content {
            background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF !important;
            padding: 15px 30px;

            #title {
                color: $bg-darkBlue;
            }

            .btn-comments {
                background: $primary;
                color: $white;
            }

            .modal-body {
                .input-group {
                    margin: 15px auto;
                    box-shadow: 1px 2px 2px $light-primary;
                }
            }
        }
    }
}

