.visaLevelsBody {

    background: linear-gradient(to bottom, rgba(0, 87, 144, 0.10) 0%, rgba(0, 87, 144, 0.00) 100%), #FFF;
    .visaLevels {
        display: flex;
        margin: 0 auto;
        align-items: center;

        .title {
            color: $gray-500;
            text-align: right;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 48px */
            margin-bottom: 25px;
        }

        .description {
            color: var(--neutral-700, #374151);
            text-align: justify;
            font-feature-settings: 'liga' off;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 30.6px */
        }

    }

    .items {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 2px 3px 3px $gray-500;
        background: $white;

        .item {
            display: flex;
            flex-direction: row;
            align-items: center;

            .title {
                font-feature-settings: 'liga' off;
                font-style: normal;
                font-weight: 700;
                line-height: 40px; /* 166.667% */
            }

            .description {
                line-height: 200%;
            }

            img {
                width: 25px;
                height: 25px;
            }

        }

        hr {
            color: $gray-500;
        }
    }
}
