@import '../colors';
.visaCostBody{
    background: linear-gradient(180deg, rgba(0, 87, 144, 0.00) 0%, rgba(0, 87, 144, 0.10) 100%), #FFF;
    .visaCost {
        display: flex;
        margin: 0 auto;

        .title {
            color: $gray-500;
            text-align: right;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 48px */
        }

        .description {
            color: var(--neutral-700, #374151);
            text-align: justify;
            font-feature-settings: 'liga' off;
            font-style: normal;
            font-weight: 500;
            line-height: 200%; /* 30.6px */
        }
        .point{
            width: 5px;
            height: 5px;
            display: inline-block;
            border-radius: 50%;
            background: $gray-500;
            margin-left: 5px;
            margin-top: -5px;
        }
    }
}

