@import '../colors';
@import '../breakpoints';

@media screen and (max-width: $medium) {

    .takeVisa {
        .bg-countries {
            margin-top: 0;


            .over {
                margin: 84px auto;
                width: 90%;
                //height: 365px;
                border-radius: 10px;

                .banner {
                    padding: 20px 10px;

                    .image {
                        width: 80px;
                        height: 55px;
                        margin-right: 20px;
                        margin-bottom: 10px;
                    }

                    .title {
                        font-size: 20px;
                    }

                    .description {
                        font-size: 17px !important;
                        line-height: 200%;
                    }
                }
            }
        }
    }

    .visaDocumentsBody {

        .visaDocuments {

            padding: 0 10px;

            .title {
                font-size: 24px;
            }

            .description {
                font-size: 17px;
            }

            .items {
                padding: 10px;

                .title {
                    font-size: 16px;
                }

                .description {
                    font-size: 14px;
                }
            }
        }


    }

    .visaCostBody {
        .visaCost {
            padding: 60px 25px;

            .title {
                font-size: 24px;
            }

            .description {
                font-size: 17px !important;
            }
        }
    }

    .visaLevelsBody {

        .visaLevels {
            padding: 60px 10px 0 10px;

            .title {
                font-size: 24px;
            }

            .description {
                font-size: 17px;
            }

            .items {
                padding: 10px;

                .item {

                    .title {
                        font-size: 16px;
                    }

                    .description {
                        font-size: 14px;
                    }
                }

            }

        }


    }

    .tagsBody {
        padding: 0;
    }

    .countriesRepetitiveQuestionsBody {
        padding: 25px;

        .countriesRepetitiveQuestions {
            .title {
                font-size: 24px;
            }

            .accordion-button {
                font-size: 17px;
            }
        }
    }

    .userCommentsBody {
        background: linear-gradient(to bottom, rgba(0, 87, 144, 0.10) 0%, rgba(0, 87, 144, 0.00) 100%), #FFF;
    }

    .sidebar {
        padding: 0;
        margin-bottom: 50px;
    }
    .assessmentInVisa {
        border-radius: 0;
    }
    .userCommentsBody {
        padding: 25px;
        border-radius: 0;
        margin: 20px 0 100px 0;
    }

}


@media screen and (min-width: $medium) {

    .takeVisa {
        .bg-countries {
            margin-top: 115px;


            .over {
                margin: 84px auto;
                width: 1300px;
                height: auto;
                border-radius: 30px;

                .banner {
                    padding: 25px 50px;

                    .image {
                        width: 115px;
                        height: 90px;
                        margin-right: 20px;
                    }

                    .title {
                        font-size: 28px;
                    }

                    .description {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .visaDocumentsBody {

        .visaDocuments {

            padding: 60px 0;

            .title {
                font-size: 32px;
            }

            .description {
                font-size: 18px;
            }

            .items {
                padding: 50px 25px;

                .title {
                    font-size: 18px;
                }

                .description {
                    font-size: 16px;
                }
            }
        }
    }

    .visaCostBody {
        .visaCost {
            padding: 60px 0;

            .title {
                font-size: 28px;
            }

            .description {
                font-size: 18px;
            }
        }
    }

    .visaLevelsBody {

        .visaLevels {
            padding: 60px 0;

            .title {
                font-size: 28px;
            }

            .description {
                font-size: 18px;
            }

            .items {
                padding: 50px 25px;

                .item {

                    .title {
                        font-size: 18px;
                    }

                    .description {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .tagsBody {
        padding: 60px 0;
    }

    .countriesRepetitiveQuestionsBody {

        padding-bottom: 60px;

        .countriesRepetitiveQuestions {
            .title {
                font-size: 28px;
            }

            .accordion-button {
                font-size: 18px;
            }

        }
    }

    .userCommentsBody {

    }

    .sidebar {
        padding: 50px;
    }
    .assessmentInVisa {
        border-radius: 10px;
    }
    .userCommentsBody {
        padding: 50px 25px;
        border-radius: 10px;
        margin: 20px 0;
    }
}

