.visasTypes{
    display: flex;
    padding: 60px 120px!important;
    background: rgba(255, 255, 255, 0.50);

    .title {
        color: var(--bg-black, #242424);
        text-align: right;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 48px */
    }

    .description {
        color: var(--neutral-700, #374151);
        text-align: justify;
        font-feature-settings: 'liga' off;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 30.6px */

        .point {
            width: 7px;
            height: 7px;
            display: inline-block;
            border-radius: 50%;
            background:#374151 ;
            margin-left: 5px;
        }
    }
}
