$white: #fff;
$black: #000;
$primary: #00A594;
$light-primary: #79beb6;
$gray-200: #9EADBD;
$bg-darkBlue : #1a2428;
$gray-300: #1D2B38;
$gray-500: #3A4856;
$secondary: #00A594;
$icon-background: rgba(0, 165, 148, 0.10);
$neutral-700: #374151;



