//IRANSans Fonts
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../public/fonts/IRANSans-with-license/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

//Vazir Fonts
@font-face {
    font-family: Vazir;
    src: url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.eot);
    src: url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.eot?#iefix) format('embedded-opentype'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.woff2) format('woff2'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.woff) format('woff'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Black.eot);
    src: url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Black.eot?#iefix) format('embedded-opentype'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Black.woff2) format('woff2'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Black.woff) format('woff'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Medium.eot);
    src: url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Medium.eot?#iefix) format('embedded-opentype'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Medium.woff2) format('woff2'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Medium.woff) format('woff'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Light.eot);
    src: url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Light.eot?#iefix) format('embedded-opentype'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Light.woff2) format('woff2'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Light.woff) format('woff'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Thin.eot);
    src: url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Thin.eot?#iefix) format('embedded-opentype'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Thin.woff2) format('woff2'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Thin.woff) format('woff'),
    url(../../public/fonts/vazir/vazir-font-v27.2.2-Fontjo.com/Vazir-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}
